/*
	http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Nunito
*/
/* @import url(//fonts.googleapis.com/css?family=Sacramento);
@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Nunito:700); */

/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*
menu color = #0f3b5f
selected menu = #145081
*/


body {
    background-color: #E9E9E9;    
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}
.navbar-nav{
	display:block;
}
.navbar-toggle{
	margin-left:15px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 	background:#073648;
}
.badge {
	background:#B00000;
}

.navbar-default .navbar-nav > li >a {
	color: #ddd;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	color: white;
}


.navbar-nav.dropdown-menu{
    position: static;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: #073648;
}

@media screen and (max-width: 768px){
	.navbar-right {
		float: right !important;
	}
	.navbar-toggle{
		float:none;
	}
	.navbar-nav{
		display: none;
	}
	.navbar-nav > li{
		padding-left:15px;
		padding-right:15px;
	}
    .navbar-nav.dropdown-menu{
        float: none;
    }
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0px 250px 0 250px;
        padding: 0 30px;
        border-left: 0px solid #e7e7e7;
    }
}

@media screen and (max-width: 1366px){
	#page-wrapper{
		margin-left:auto;
		margin-right:auto;
		max-width:980px;
	}
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
}

a#headerSignUpBtn {
    background: #e84d3d;
    color: #fff;
    border: 2px solid #e84d3d;
    padding: 4px 12px;
    font-size: 11px;
    margin: 5px 0 5px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
a#headerSignUpBtn:hover {
    color: #e84d3d;
    background: none;
}
a#headerSignInBtn {
    background-color: transparent;
    color: #ddd;
}
a#headerSignInBtn:hover {
    color: #fff;
    background: none;
}


.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}




@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chatFirstRow{
	border-top: 1px solid #E6E6E6;
}

.chat li {    
    padding: 5px;    
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    /*margin-top: 25%;*/
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}





#display-box {
	border: 1px solid #ADC4FF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

#input-box, #display-box, #input-box-over-in{
	padding: 8px;
	height: 130px;
	overflow:auto;
	/*
	font-family: arial, sans-serif;
	*/	
	line-height:1.3;
	border: 1px solid blue;
}
#input-box, #input-box-over-in{
	background:#fff;
	border:1px solid #D9D9D9;
	font-size:15px;
	outline:none;
}
#display-box{
	/*
	background:whitesmoke;
	border:1px solid whitesmoke;
	*/
	margin-top: 10px;
	font-size:15px;
	background:#fff;
	border:1px solid #D9D9D9;
}

#input-box-wrap{
	position:relative;
}
.input-box-focus, #input-box-over-in{
	border: 1px solid #4D90FE !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
#input-box-over{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	display:none;
}


.google-button {
display: inline-block;
margin-top: 5px;
min-width: 54px;
text-align: center;
color: #555;
font-size: 11px;
font-weight: bold;
height: 25px;
padding: 0 8px;
line-height: 27px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid #A0A0A0;
background-color: white;
/*
background-image: -webkit-gradient(linear,left top,left bottom,from(#F6F6F6),to(#eee));
background-image: -webkit-linear-gradient(top,#F6F6F6,#eee);
background-image: -moz-linear-gradient(top,#F6F6F6,#eee);
background-image: -ms-linear-gradient(top,#F6F6F6,#eee);
background-image: -o-linear-gradient(top,#F6F6F6,#eee);
background-image: linear-gradient(top,#F6F6F6,#eee);*/
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: default;
text-decoration: none;
}

.google-button:hover {
border: 1px solid gray;
color: #333;
text-decoration: none;
-webkit-transition: all 0.0s;
-moz-transition: all 0.0s;
-ms-transition: all 0.0s;
-o-transition: all 0.0s;
transition: all 0.0s;
background-color: #F8F8F8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#F6F6F6),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#F6F6F6,#f1f1f1);
background-image: -moz-linear-gradient(top,#F6F6F6,#f1f1f1);
background-image: -ms-linear-gradient(top,#F6F6F6,#f1f1f1);
background-image: -o-linear-gradient(top,#F6F6F6,#f1f1f1);
background-image: linear-gradient(top,#F6F6F6,#f1f1f1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
cursor: pointer;
}

.google-button:active {
background-color: #F6F6F6;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
	
	
	
.google-button-blue {
text-decoration: none;
border: 1px solid #2F5BB7;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #357AE8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: linear-gradient(top,#4d90fe,#357ae8);
}

.google-button-blue:hover {
text-decoration: none;
border: 1px solid #2F5BB7;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #357AE8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: linear-gradient(top,#4d90fe,#357ae8);
}


.google-button-yellow {
text-decoration: none;
border: 1px solid #d8ad00;
color: black;
background-color: #d8ad00;
background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCC00),to(#d8ad00));
background-image: -webkit-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -moz-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -ms-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -o-linear-gradient(top,#FFCC00,#d8ad00);
background-image: linear-gradient(top,#FFCC00,#d8ad00);
}

.google-button-yellow:hover{
text-decoration: none;
border: 1px solid #d8ad00;
color: black;
background-color: #d8ad00;
background-image: -webkit-gradient(linear,left top,left bottom,from(#FFCC00),to(#d8ad00));
background-image: -webkit-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -moz-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -ms-linear-gradient(top,#FFCC00,#d8ad00);
background-image: -o-linear-gradient(top,#FFCC00,#d8ad00);
background-image: linear-gradient(top,#FFCC00,#d8ad00);
}	

	
	
	
.google-button-red {
border: 1px solid transparent;
color: #fff;
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
text-transform: uppercase;
background-color: #D14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
background-image: -o-linear-gradient(top,#dd4b39,#d14836);
background-image: linear-gradient(top,#dd4b39,#d14836);
}

.google-button-red:active {
border: 1px solid #992A1B;
background-color: #B0281A;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
background-image: linear-gradient(top,#dd4b39,#b0281a);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.google-button-red:hover {
border: 1px solid #B0281A;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #C53727;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
background-image: -o-linear-gradient(top,#dd4b39,#c53727);
background-image: linear-gradient(top,#dd4b39,#c53727);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
text-decoration: none;
-webkit-transition: all 0.0s;
}

.buts{
	margin-right: 5px;
}





/* taken from pinterest, comment it to go back to pure bootsrap*/
.navbar-header {	
	min-width: 1000px;
	display: block;
	-webkit-transform: translateZ(0);
	background: #073648;
	position: fixed;
	/*z-index: 670;*/
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	right: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    /* -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3); */
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}

 





.yelllowMessage{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 243, 183);
	background-image: -webkit-linear-gradient(top, #FFF7CB, #FFF3B7);
	background-image: linear-gradient(rgb(255, 247, 203), rgb(255, 243, 183));
	background-origin: padding-box;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.328125) 0px 1px 3px 0px;
	color: #717171;
	
	font-size: 15px;
	height: 46px;
	margin-bottom: 0px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 0px;
	
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	
	max-width: 956px;
	z-index: 1;
	margin: 0px auto;
}



/* Yellow markers onHover for translated phrases - like in google*/
.hov{
	background:yellow;
	border-radius:10px;
}






/* Overriding Kendooooo styling for Grids, every second lines color */



.btn-primary.btn-outline {
	color: 	#333333;
	border: 1px solid gray;
	/*border: 1px solid gray;*/		
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: white;
	background-color: #285E8E;
	border-color: #285E8E;
}



/* necessary for displaying the button in the same line as dropdown */
.k-upload {
    display: inline-block;    
}

.k-upload-status {
    display: none;    
}

/* necessary for displaying the button in the same line as dropdown */
.k-upload-files {
	border: 0px solid black;
}

.k-dropzone {
    padding: 0px;
    margin: 0px;    
}







.frenglyGrid table{
	border-collapse: collapse;
}

.frenglyGrid tbody{
	border: 1px solid #E6E6E6;		
}

.frenglyGrid thead{
	border: 1px solid #E6E6E6;		
}

.frenglyGrid th{
	border: 1px solid white;
	border-bottom: 1px solid #E6E6E6;					
}

.frenglyGrid {     
     cursor:pointer;
     border: 0;
}

.frenglyGrid .k-alt {
     background-color: white !important;
}

.frenglyGrid td{     
     border-top: 1px solid #E6E6E6;
     border-left: 0px solid #E6E6E6;
     /*white-space: nowrap;  for no wrapping lines*/
     
}
.frenglyGrid .k-pager-wrap{     
     background-color: white;
     border: 0px solid white;
     /*border-top: 1px solid #E6E6E6;*/     
     border-image-width: 0 0 0 0;
}

.frenglyGrid .k-link {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}	

.frenglyGrid li .k-state-selected {
 	background-color: #336699;
	border-color: #336699;
	color: white; 
}

.frenglyGrid .k-state-selected {
	color: black;
	background-color: white;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.frenglyGrid .leftCell {
	border-left: 1px solid #E6E6E6;
}

.frenglyGrid .rightCell {
	border-right: 1px solid #E6E6E6;
}

.frenglyGrid .k-header{
	background-color: white;
	background-image: none;
	font-weight: bold;
}

.frenglyGrid .k-pager-info {
	display: none;
}












.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}


/* this wont work for IE9,IE8 and IE7, its fine for IE10*/
.multicol{
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;
    width: 500px;
}


.topicRow{
	 float: left;
   	 display: block;
   	 border: 0px solid orange;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0f3b5f;
}

.navbar-default .navbar-toggle {
    border-left: none;
    border-right: none;
    border-top: 1px solid #2C516F;
    border-bottom: 1px solid #0A2942;
}

.front-panel {
    display: none;
    border: 1px solid white;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.328125) 0px 1px 3px 0px;
}

.navbar-right {
    position: fixed;
    right: 10px;
}

