<h2 class="blackheadline">Translation Web Service - Translation API via REST</h2>
						
						<br/>
						<h3>How to access our Translation Engine?</h3>
						<br/>
						<!-- 
						<p style="font-style: italic; color: red; font-size: 11px;">Please Note: The current API is in the alpha testing phase and does not reflect current Frengly engine capabilities!</p>
						 -->
						<p>1. Sign up for a frengly account <a ng-href="#/register" id="apiSignUp" class="inTextLink">Sign up</a></p>
						<br/>
						<p>2a. Call our web service via plain HTTP</p>
						<br/>	
<pre>
http://syslang.com?src=fr&dest=en&text=Bonjour+monsieur&email=xxx&password=xxx								
</pre>
						
						<p class="tip" style="font-size: 11px; margin-left: 3px; margin-top: 5px;">
							<b>src</b> - source language to translate from<br />
							<b>dest</b> - destination language to translate to<br />
							<b>text</b> - a piece of text you want to translate<br />
							<b>email</b> - frengly account email, entered during registration (for older accounts please use username)<br />
							<b>password</b> - frengly account password<br />
							<b>outformat</b> - format of the response [xml/json], not mandatory - default is xml<br />
						</p>
						<br/>
						<p>2b. ...or call our web service using jQuery, directly from your website (Cross domain calls are allowed)</p>
						<br/>
																						
<pre>						
   $.ajax({
		url: 'http://www.syslang.com/',		
		data: {
			src: 'en',
			dest: 'fr',
			text: 'this is a sample text in english',
			outformat: 'json',
			email: 'xxx@xxx.com',
			password: 'xxx'
		},			    	    	    
		success: function(data){		    
			$('#responseDiv').html(data.text+' = '+data.translation);
		},
		error: function (errormessage) {
			$('#responseDiv').html(errormessage);
		}
	});						
</pre>