<!-- 
	<div>		 
		<div class="frenglyGrid" kendo-grid="topicGrid" options="mainGridOptions" k-on-change="selectTopic()"></div>
	</div>
			var langs = $rootScope.userLangs;
		langs[key] = value; //add a new btn here
  -->
  <div class="row">
	<div class="panel-footer">
		  <div align="right" >
		  	   <select style="display: block;float: right;width: 120px;" class="form-control input-sm" ng-model="selectedLang" ng-options="key for (key, value) in langs"></select>		  	   
		  	   <select style="display: block;float: right;width: 120px;" class="form-control input-sm" ng-model="selectedStatus">
		       		 <option ng-repeat="status in statuses" value="{{status.status}}">{{status.status}} ({{status.counter}})</option>
		      </select>		      
		  </div>
          <div class="input-group">          	  
              <input id="btn-input" ng-model="text" ng-enter="loadDict()" class="form-control input-sm" placeholder="Enter word ..." type="text">
              <span class="input-group-btn">
                  <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="loadDict()" >
                      Search
                  </button>
              </span>
          </div>
      </div>
	</div>
	<div align="right"><a class="btn btn-default btn-sm" href="" ng-really-message="Are you sure?" ng-really-click="deleteAllFound()"><i class="fa fa-trash-o fa-lg"></i> Delete all below</a></div>
	
	
 	<div class="panel-body">
 		   <div style="font-weight: bold;">{{rows.length}} results</div>
           <ul class="chat" data-ng-repeat="row in rows">
               <li>                   
                   <div style="cursor: pointer;height:20px;border: 0px solid orange; overflow: hidden;">                                		                   		                  		
                        <div class="topicRow" style="width: 150px; padding-left:10px; border: 0px solid red;">{{ row.PID }} <span><a ng-show="roles=='admin'" href="" ng-click="deleteDictEntry(row.PID)">delete</a></span></div>                        
                        <div class="topicRow" style="width: 250px; padding-left:10px; border: 0px solid red;">{{ row.WORD }}</div>
                        <div class="topicRow" style="width: 200px; padding-left:10px; border: 0px solid red;">{{ row.english }}</div>
                        <div class="topicRow" style="padding-left:10px; border: 0px solid red;">{{ row.STATUS }}</div>
                        <div class="topicRow" style="padding-left:10px; border: 0px solid red;">{{ row.time }}</div>                        
                   </div>
               </li>              
           </ul>
       </div>

	<div>&nbsp;</div>
	
	