	<div id="buyContainer" style="border: 0px solid green; margin-left: auto;margin-right: auto; overflow: hidden;">					

				<table cellpadding="0" cellspacing="0" align="center">
					<tbody>
						<tr class="TR_1" >
							<th class="TH_2" style="background-color: white; border-top:0px;"></th>
							
							<th class="TH_2">
							<div  class="DIV_16">
							<h2 class="H2_17">FREE</h2>
							<p class="P_18"><sup class="SUP_19">$</sup>0<span class="SPAN_20">.0</span></p>
							</div>
							</th>
							
							<th class="TH_2">
							<div  class="DIV_16">
							<h2 class="H2_17">SILVER</h2>
							<p class="P_18"><sup class="SUP_19">$</sup>4<span class="SPAN_20">.1k</span></p>
							</div>
							</th>
							
							<th class="TH_2">
							<div  class="DIV_16">
							<h2 class="H2_17">GOLD</h2>
							<p class="P_18"><sup class="SUP_19">$</sup>6<span class="SPAN_20">.3k</span></p>
							</div>
							</th>
							
							<th class="TH_2" style="width:180px;">
							<div  class="DIV_16" style="margin-left: 10px;">
							<h2 class="H2_17">ENTERPRISE</h2>
							<p class="P_18"><sup class="SUP_19">$</sup>18<span class="SPAN_20">.6k</span></p>
							</div>
							</th>
							
						</tr>
						
						
						<tr class="TR_1">
							<td class="TD_4 TD_LEFT"><span class="feature-list" class="SPAN_3">Limited Cloud Access (REST)</span></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
						</tr>		
						<tr class="TR_1">
							<td class="TD_4 TD_LEFT"><span class="feature-list" class="SPAN_3">Dictionaries (MySQL)</span></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
						</tr>
						<tr class="TR_1">
							<td class="TD_4 TD_LEFT"><span class="feature-list" class="SPAN_3">Translation Engine</span></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
						</tr>
						<tr class="TR_1">
							<td class="TD_4 TD_LEFT"><span class="feature-list" class="SPAN_3">WebFront</span></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_YES"></td>
							<td class="TD_4 TD_YES"></td>
						</tr>			
						<tr class="TR_1">			
							<td class="TD_4 TD_LEFT"><span class="feature-list" class="SPAN_3">Source Code (Java)</span></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_NO"></td>
							<td class="TD_4 TD_YES"></td>
						</tr>
				
						
						<!-- buy buttons -->
						<tr class="TR_1">			
							<td class="TD_4"></td>
							<td class="TD_4" style="border-bottom: 1px solid #E5E5E5;"><a id="buy1" class="google-button" onclick="$('#apiLink').trigger('click');">Access</a></td>
							<td class="TD_4" style="border-bottom: 1px solid #E5E5E5;"><a id="buy1" class="google-button" onclick="callPaypayl('silver');">Buy</a></td>
							<td class="TD_4" style="border-bottom: 1px solid #E5E5E5;"><a id="buy3" class="google-button" onclick="callPaypayl('gold');">Buy</a></td>
							<td class="TD_4" style="border-bottom: 1px solid #E5E5E5;"><a id="buy4" class="google-button" onclick="callPaypayl('enterprise');">Buy</a></td>	
						</tr>
						
				
					</tbody>
					
				</table>
				<div style="margin-top: 60px; text-align: right; color: gray;">More information about the packages and options can be found in the <a style="text-decoration: underline; cursor: pointer;" onclick="showBuyInfo();">info page</a></div>
				
				<div id="buyThankYou" class="textAlot">Thank you for your payment. We will send you further information to your email.</div>
				<div id="buyCancelled" class="textAlot">Payment has been cancelled.</div>
				
				<form action="controller?action=paypal" id="buyForm" method="post">
					<input name="selectedPackage" type="hidden" value="silver" id="selectedPackage" /> 
				</form>
		</div>