	<!-- Toolbar -->
	<div class="btn-group" data-toggle="buttons" style="border:0px solid orange; margin-top:10px;margin-bottom:10px; width: 100%;" ng-controller="ContestController">
	    <!-- 
	    <label class="btn btn-default"  ng-click="openModal()" data-target="#myModal" data-toggle="modal">
	        <input type="radio" name="options"> 
	        <i class="fa fa-upload fa-fw"></i> Upload
	    </label>
	    <label class="btn btn-default active" ng-click="delTop()" ng-init="count=0">
	        <input type="radio" name="options"> 
	        <i class="fa fa-times fa-fw"></i> Delete
	    </label>
	     -->
	    <div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		      {{ srcLangContest }}
		      <span class="caret"></span>
		    </button>
			<ul class="dropdown-menu multicol" >
		      <li data-ng-repeat="(key, value) in langs" data-ng-click="changeSrcContestLang(key,value)"><a href="" >{{ value }}</a></li>
		    </ul>
		 </div>
	     <div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		      {{ destLangContest }}
		      <span class="caret"></span>
		    </button>
			<ul class="dropdown-menu multicol" >
		      <li data-ng-repeat="(key, value) in langs" data-ng-click="changeDestContestLang(key,value)"><a href="" >{{ value }}</a></li>
		    </ul>
		  </div>
		  
		  <div style="float:right;" class="dropdown" ng-controller="ContestController" ng-show="roles=='admin'">
		  	
                 <a class="dropdown-toggle" data-toggle="dropdown" href="">
                     <i class="fa fa-cog fa-fw"></i>  <i class="fa fa-caret-down"></i>
                 </a>
                
                 <ul class="dropdown-menu dropdown-user" >                         
                     <li>
                     	<a href="" ng-click="openModal()" data-target="#myModal" data-toggle="modal"><i class="fa fa-sign-out fa-fw"></i>Upload</a>                     	
					  </li>
                     <li>
                     	<a href="" ng-click="delTop()" ><i class="fa fa-sign-out fa-fw"></i>Delete</a>                   		                     
                     </li>                        
                     
                 </ul>
		  </div>
	</div>
	
	
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" ng-controller="ContestController">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">x</button>
                      <h4 class="modal-title" id="myModalLabel">Select file containing text in {{ srcLangContest }}</h4>
                  </div>
                  <div class="modal-body">
            			
			          				<div>
				                    	<input name="files" id="files" type="file" style="width:100px;height:30px;"/>
				                    </div>
				                    
				                    <div>
				                    	<select ng-change="changeCategory(myCategory)" ng-model="myCategory" ng-options="category.name for category in categories"></select>
						            </div>
								
								<div id="textToUploadAndAnalyze" style="border: 0px solid silver; padding: 10px; overflow: auto;"></div>
								<!-- 
								<div id="uploadTextParsingResult" style="padding: 3px; border: 0px solid red; width:570px; height: 100px; overflow: auto; background-color: #E6E6E6;"></div>
								 									
								<a href="#" class="button" onclick="uploadText()"><span style="margin: 0px;" class="label" id="destLangAdd">Upload</span></a>
								-->				
                  </div>
                  <div class="modal-footer">
                      <!-- 
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       -->
                      <button type="button" class="btn btn-primary" ng-click="saveMap()">Save changes</button>
                  </div>
              </div>
          
          </div>                               
    </div>
    
    <!-- 
    <div ng-controller="ContestController">{{ srcLangContest }} - {{ destLangContest }}. <a style="cursor:pointer;" ng-click="switchContestLangs()">switch</a></div>
     -->
	<!-- 
	<span class="well well-sm" id="scoreDisplay"></span>
	 -->
	
	<!-- Main grid -->
	<div class="frenglyGrid" id="mygrid" class="ra-section" ng-controller="ContestController"></div>
	
<div id="contestEmpty" class="panel panel-default" style="display:none;">
  <div class="panel-body">
    Nothing to translate in the language selected
  </div>
</div>
	
	
	