<!-- Main grid -->
<div class="panel-body" >
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active" style="cursor: pointer;"><a data-target="#rank" data-toggle="tab" ng-controller="RankController" ng-click="refreshRank()">Live</a></li>
            <li class="" style="cursor: pointer;"><a data-target="#contest" data-toggle="tab" ng-controller="ContestController" ng-click="loadContest()">Contest</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="rank">
                 <div ng-include src="'partials/rank.html'" ></div>
            </div>
            <div class="tab-pane fade" id="contest">
             	<div ng-include src="'partials/contest.html'"></div>
            </div>
        </div>
</div> 