    
        
            <div class="col-md-4 col-md-offset-4">
               
                    <div class="panel-body">
                        <form ng-submit="send()">
                            <fieldset>
                                <div class="form-group">                                   
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email" ng-init="" autofocus>
                                </div>
                                <div class="form-group">	                                          
                                    <textarea class="form-control" rows="3" cols="20" placeholder="Message"></textarea>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-success">Send</button>
                            </fieldset>
                        </form>
                    </div>
                
            </div>
        
    