 	<div class="panel-body"> 		   
           <ul class="chat" data-ng-repeat="stat in stats">
               <li>                   
                   <div style="cursor: pointer;height:20px;border: 0px solid orange; overflow: hidden;">                                		                   		                  		
                        <div class="topicRow" style="width: 150px; padding-left:10px; border: 0px solid red;">{{ stat.lang }}</div>                        
                        <div class="topicRow" style="width: 250px; padding-left:10px; border: 0px solid red;">{{ stat.counter }}</div>                                               
                        <div class="topicRow" style="width: 250px; padding-left:10px; border: 0px solid red;">{{ stat.weekly }}</div>
                   </div>
               </li>              
           </ul>
       </div>