<!-- 
	<div>		 
		<div class="frenglyGrid" kendo-grid="topicGrid" options="mainGridOptions" k-on-change="selectTopic()"></div>
	</div>
  -->
 	<div class="panel-body">
           <ul class="chat" data-ng-repeat="topic in topics">
               <li ng-class="{chatFirstRow : $first, item : true}">                   
                   <div style="cursor: pointer; height: 20px;">                                		
                   		<div class="topicRow" style="width: 40px;"><span class="label label-danger" ng-if="topic.topicId > 310">new</span>&nbsp;</div>                    		
                        <div class="topicRow" style="width: 70%"><a style="text-decoration: none; color: #505050;" ng-href="#/post/{{topic.topicId}}/{{topic.nameDashed}}">{{ topic.name }}</a> <span><a ng-show="roles=='admin'" href="" ng-click="deleteTopic(topic.topicId)">delete</a></span></div>                        
                        <div class="topicRow" style="width: 10%; color: silver;"><i class="fa fa-pencil fa-fw"></i>{{ topic.postNo }}</div>
                        <div class="topicRow" style="width: 10%; color: silver;"><i class="fa fa-eye fa-fw"></i>{{ topic.views }}</div>                        
                   </div>
               </li>              
           </ul>
       </div>

	<div>&nbsp;</div>
	
	<div class="row">
	<div class="panel-footer">
          <div class="input-group">
              <input id="btn-input" ng-model="topicName" ng-enter="addTopic()" class="form-control input-sm" placeholder="Enter new topic name..." type="text">
              <span class="input-group-btn">
                  <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="addTopic()" >
                      Create
                  </button>
              </span>
          </div>
      </div>
	</div>