        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="HeaderController">
            
            <!-- !!! do not remove ng-controller, otherwise menu highlighting wont work !!! -->
            <div class="navbar-header">
                <button class="navbar-toggle dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="dropdown-menu nav navbar-nav" aria-labelledby="menu1">
                	<!-- 
                	<li><a class="navbar-brand" href="#/translate"><img style="margin-top: -14px;" src="images/frengly4.png" /></a></li>
                	 -->
				    <li ng-class="{ active: isActive('/translate') }"><a href="#/translate">Translate</a></li>
				    <li ng-class="{ active: isActive('/forum') }"><a href="#/forum">Forum <span class="badge" ng-show="badgeForum!=null">{{badgeForum}}</span></a></li>
				    <li ng-class="{ active: isActive('/api') }"><a href="#/api">API</a></li>
				    <li ng-class="{ active: isActive('/privacy') }"><a href="#/privacy">Privacy</a></li>
				    
				    <li ng-class="{ active: isActive('/contribute') }"><a href="#/contribute">Contribute</a></li>
				    <!-- 
				    <li ng-class="{ active: isActive('/rank') }"><a href="#/rank">Rank</a></li>
				    <li ng-class="{ active: isActive('/contest') }"><a href="#/contest">Contest</a></li>
				     -->
				    <li ng-class="{ active: isActive('/quality') }"><a href="#/quality">Quality</a></li>
				    <!-- 
				    <li ng-class="{ active: isActive('/buy') }"><a href="#/buy">Buy</a></li>
				     -->
				    <li ng-class="{ active: isActive('/history') }"><a href="#/history">History <span class="badge" ng-show="badgeHistory!=null">{{badgeHistory}}</span></a></li>
				    <li ng-show="roles=='admin'" ng-class="{ active: isActive('/browser') }"><a href="#/browser">Browser</a></li>
				    <li ng-show="roles=='admin'" ng-class="{ active: isActive('/engine') }"><a href="#/engine">Engine</a></li>				 
				    <li ng-show="roles=='admin'" ng-class="{ active: isActive('/translate2') }"><a href="#/translate2">T2</a></li>

				    <!-- 
				    <li ng-class="{ active: isActive('/contact') }"><a href="#/contact">ContactUs</a></li>				   
				    <li ng-class="{ active: isActive('/register') }"><a href="#/register">Register</a></li>			    
				    <li ng-class="{ active: isActive('/user') }"><a href="#/user">UserInfo</a></li>
				    -->
				</ul>                
            </div>
            <!-- /.navbar-header -->
		
		
			
			
            <ul class="nav navbar-top-links navbar-right">
            	<li>
            		{{username}}
            	</li>
            	
            	<li>
                    <a class="highlight red-btn" data-toggle="modal" href="#" id="headerSignUpBtn">Sign Up</a>
            	</li>
                <li ng-show="username==null">
                    <a href="#/login" id="headerSignInBtn">Sign In</a>
            	</li>
          
                <li ng-show="username!=null" class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                   
                    <ul class="dropdown-menu dropdown-user" > 
                        <!-- 
                        <li><a href="#/user"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                        <li class="divider"></li>
                         -->
                        <li><a href="#/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        <li><a href="" ng-click="delAccount()"><i class="fa fa-sign-out fa-fw"></i> Delete account</a></li>
                    </ul>
                </li>
               


            </ul>
            
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        
        
        <!-- yellow message box -->
       <div class="container" style="border: 0px solid red; margin-bottom: 20px;" data-ng-controller="TranslateController">
		    <div class="row row-centered" style="border: 0px solid blue;">				    
			        <div class="yelllowMessage" style="color:black"><b>{{ message }}</b>
			        		<!-- 
			        		<a class="toolbar-link" id="autoLink">
								<span>{{ srcLang }}</span>
							</a>
							 -->
					<!-- 
					<div class="dropdown" id="switch-boards" style="display:inline; cursor: pointer;" ng-show="showSrclangDropdown">
					 -->
					 <div class="dropdown" id="switch-boards" style="display:inline; cursor: pointer;" ng-show="showSrclangDropdown">
						<a id="board-title" class="brand dropdown-toggle" data-toggle="dropdown" data-target="#switch-boards">{{ autodetection?'(Autodetected)':'' }} {{ srcLang }}<b class="caret"></b></a>
						<ul class="dropdown-menu multicol">
						    <li><a href="" ng-click="manualSrcLang('autodetection')">Autodetection</a></li>
							<li><a href="" ng-click="manualSrcLang(value)" ng-repeat="(key, value) in langs">{{value}}</a></li>
						</ul>
					</div>    
					</div>	    
		    </div>
       </div>
       
            	
                	
        
        