<div class="frenglyGrid" kendo-grid="historyGrid" options="mainGridOptions" k-on-change="selectHistoryLine(kendoEvent)"></div>
<!-- 
<div id="historyEmpty" class="alert alert-warning" role="alert" style="display:none;">No translations found.</div>
-->
<div id="historyEmpty" class="panel panel-default" style="display:none;">
  <div class="panel-body">
    No translations found for your username or your session ID
  </div>
</div>
