    
        
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please login</h3>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="loginUser()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" ng-model="user.email" ng-init="user.email='youremail@gmail.com'" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" ng-init="user.password='123'">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div>
                                	<button type="submit" class="btn btn-success">Login</button>
                                	<a href="#/register">sign up</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        
    