<!-- 	<div>		 
		<div kendo-grid="postGrid" options="mainGridOptions"></div>
	</div>

	<div>&nbsp;</div>
	
		<div class="row">
	    <div class="col-xs-6">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Add new post"/>
	            <span class="input-group-addon">
	                <i class="fa fa-plus"></i>
	            </span>
	        </div>
	    </div>
	</div> -->
	
	
	
	<div class="chat-panel panel panel-default" >
       <div class="panel-heading">
           <i class="fa fa-comments fa-fw"></i>
           {{topicName}}
<!--            <div class="btn-group pull-right">
               <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                   <i class="fa fa-chevron-down"></i>
               </button>
               <ul class="dropdown-menu slidedown">
                   <li>
                       <a href="#">
                           <i class="fa fa-refresh fa-fw"></i> Refresh
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <i class="fa fa-check-circle fa-fw"></i> Available
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <i class="fa fa-times fa-fw"></i> Busy
                       </a>
                   </li>
                   <li>
                       <a href="#">
                           <i class="fa fa-clock-o fa-fw"></i> Away
                       </a>
                   </li>
                   <li class="divider"></li>
                   <li>
                       <a href="#">
                           <i class="fa fa-sign-out fa-fw"></i> Sign Out
                       </a>
                   </li>
               </ul>
           </div> -->
       </div>
       <!-- /.panel-heading -->
       <div class="panel-body">
           <ul class="chat" data-ng-repeat="post in posts">
               <li class="right clearfix">
                   <span class="chat-img pull-right">
                       <img src="images/avatar-unk.png" alt="User Avatar" class="img-circle">
                   </span>
                   <div class="chat-body clearfix">
                       <div class="header">
                       	   <strong class="primary-font">{{ post.username }}</strong>
                           <small class=" text-muted">                           	  
                               <i class="fa fa-clock-o fa-fw"></i>{{ post.comments }}
                           </small>
                           
                           <a ng-show="roles=='admin'" ng-click="deletePost(post.postId)">delete</a>
                       </div>
                       <p>
                           {{ post.desc }}
                       </p>
                   </div>
               </li>              
           </ul>
       </div>
       <!-- /.panel-body -->
       <div class="panel-footer">
           <div class="input-group">
               <input id="btn-input" ng-model="postText" ng-enter="addPost()" class="form-control input-sm" placeholder="Type your message here..." type="text">
               <span class="input-group-btn">
                   <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="addPost()">
                       Post
                   </button>
               </span>
           </div>
       </div>
       </div>
       <!-- /.panel-footer -->
                    