<h2 class="blackheadline">Terms of Service</h2>
	
	<p>These Terms of Service ("<strong>Terms</strong>") govern your
	access to and use of the services and Frengly© websites (the "<strong>Services</strong>"),
	and any information, text, graphics, or other materials uploaded,
	downloaded or appearing on the Services (collectively referred to as
	"<strong>Content</strong>"). Your access to and use of the Services
	is conditioned on your acceptance of and compliance with these Terms.
	By accessing or using the Services you agree to be bound by these
	Terms.</p>

	<h3>Basic Terms</h3>

	<p>You are responsible for your use of the Services, for any
	content you post to the Services, and for any consequences thereof.
	The Content you submit, post, or display will be able to be viewed by
	other users of the Services and through third party services and
	websites. You should only provide Content that you are comfortable sharing with others under
	these Terms.</p>

	<p class="tip"><span class="tip">Tip</span> What you say on
	Frengly may be viewed all around the world instantly.</p>

	<p>You may use the Services only if you can form a binding
	contract with Frengly and are not a person barred from receiving
	services under the laws of the United States or other applicable
	jurisdiction. You may use the Services only in compliance with these
	Terms and all applicable local, state, national, and international
	laws, rules and regulations.</p>

	<p>The Services that Frengly provides are always evolving and the
	form and nature of the Services that Frengly provides may change from
	time to time without prior notice to you. In addition, Frengly may
	stop (permanently or temporarily) providing the Services (or any
	features within the Services) to you or to users generally and may
	not be able to provide you with prior notice. We also retain the
	right to create limits on use and storage at our sole discretion at
	any time without prior notice to you.</p>

	<p>The Services may include advertisements, which may be targeted
	to the Content or information on the Services, queries made through
	the Services, or other information. The types and extent of
	advertising by Frengly on the Services are subject to change. In
	consideration for Frengly granting you access to and use of the
	Services, you agree that Frengly and its third party providers and
	partners may place such advertising on the Services or in connection
	with the display of Content or information from the Services whether
	submitted by you or others.</p>

	<p class="tip"><span class="tip">Tip</span> We're leaving the
	door open for exploration in this area but we don't have anything to
	announce.</p>

	<h3>Privacy</h3>

	<p>Any information that you provide to Frengly is subject to our
	Privacy Policy, which governs our collection and use of your information. You understand
	that through your use of the Services you consent to the collection
	and use (as set forth in the Privacy Policy) of this information,
	including the transfer of this information to the United States
	and/or other countries for storage, processing and use by Frengly. As
	part of providing you the Services, we may need to provide you with
	certain communications, such as service announcements and
	administrative messages. These communications are considered part of
	the Services and your Frengly account, which you may not be able to
	opt-out from receiving.</p>

	<p class="tip"><span class="tip">Tip</span> You can opt-out of
	most communications from Frengly including our newsletter, new
	follower emails, etc. Please see the Notices tab of Settings for
	more.</p>

	<h3>Passwords</h3>

	<p>You are responsible for safeguarding the password that you use
	to access the Services and for any activities or actions under your
	password. We encourage you to use "strong" passwords (passwords that
	use a combination of upper and lower case letters, numbers and
	symbols) with your account. Frengly cannot and will not be liable for
	any loss or damage arising from your failure to comply with the above
	requirements.</p>

	<h3>Content on the Services</h3>

	<p>All Content, whether publicly posted or privately transmitted,
	is the sole responsibility of the person who originated such Content.
	We may not monitor or control the Content posted via the Services
	and, we cannot take responsibility for such Content. Any use or
	reliance on any Content or materials posted via the Services or
	obtained by you through the Services is at your own risk.</p>

	<p>We do not endorse, support, represent or guarantee the
	completeness, truthfulness, accuracy, or reliability of any Content
	or communications posted via the Services or endorse any opinions
	expressed via the Services. You understand that by using the
	Services, you may be exposed to Content that might be offensive,
	harmful, inaccurate or otherwise inappropriate, or in some cases,
	postings that have been mislabeled or are otherwise deceptive. Under
	no circumstances will Frengly be liable in any way for any Content,
	including, but not limited to, any errors or omissions in any
	Content, or any loss or damage of any kind incurred as a result of
	the use of any Content posted, emailed, transmitted or otherwise made
	available via the Services or broadcast elsewhere.</p>

	<h3>Your Rights</h3>

	<p>You retain your rights to any Content you submit, post or
	display on or through the Services. By submitting, posting or
	displaying Content on or through the Services, you grant us a
	worldwide, non-exclusive, royalty-free license (with the right to
	sublicense) to use, copy, reproduce, process, adapt, modify, publish,
	transmit, display and distribute such Content in any and all media or
	distribution methods (now known or later developed).</p>

	<p class="tip"><span class="tip">Tip</span> This license is you
	authorizing us to make your translations available to the rest of the world
	and to let others do the same.</p>

	<p>You agree that this license includes the right for Frengly to
	make such Content available to other companies, organizations or
	individuals who partner with Frengly for the syndication, broadcast,
	distribution or publication of such Content on other media and
	services, subject to our terms and conditions for such Content use.</p>

	<p class="tip"><span class="tip">Tip</span> Frengly has an
	evolving set of rules for how API developers can interact with your content. 
	These rules exist to enable an open ecosystem with your rights in mind.</p>

	<p>Such additional uses by Frengly, or other companies,
	organizations or individuals who partner with Frengly, may be made
	with no compensation paid to you with respect to the Content that you
	submit, post, transmit or otherwise make available through the
	Services.</p>

	<p>We may modify or adapt your Content in order to transmit,
	display or distribute it over computer networks and in various media
	and/or make changes to your Content as are necessary to conform and
	adapt that Content to any requirements or limitations of any
	networks, devices, services or media.</p>

	<p>You are responsible for your use of the Services, for any
	Content you provide, and for any consequences thereof, including the
	use of your Content by other users and our third party partners. You
	understand that your Content may be rebroadcasted by our partners and
	if you do not have the right to submit Content for such use, it may
	subject you to liability. Frengly will not be responsible or liable
	for any use of your Content by Frengly in accordance with these
	Terms. You represent and warrant that you have all the rights, power
	and authority necessary to grant the rights granted herein to any
	Content that you submit.</p>

	<p>Frengly gives you a personal, worldwide, royalty-free,
	non-assignable and non-exclusive license to use the software that is
	provided to you by Frengly as part of the Services. This license is
	for the sole purpose of enabling you to use and enjoy the benefit of
	the Services as provided by Frengly, in the manner permitted by these
	Terms.</p>

	<h3>Frengly Rights</h3>

	<p>All right, title, and interest in and to the Services
	(excluding Content provided by users) are and will remain the
	exclusive property of Frengly and its licensors. The Services are
	protected by copyright, trademark, and other laws of both the United
	States and foreign countries. Nothing in the Terms gives you a right
	to use the Frengly name or any of the Frengly trademarks, logos,
	domain names, and other distinctive brand features. Any feedback,
	comments, or suggestions you may provide regarding Frengly, or the
	Services is entirely voluntary and we will be free to use such
	feedback, comments or suggestions as we see fit and without any
	obligation to you.</p>

	<h3>Restrictions on Content and Use of the Services</h3>

	<p>We reserve the right at all times (but will not have an
	obligation) to remove or refuse to distribute any Content on the
	Services and to terminate users or reclaim usernames. We also reserve 
	the right to access, read, preserve, and disclose any information as we reasonably believe is
	necessary to (i) satisfy any applicable law, regulation, legal
	process or governmental request, (ii) enforce the Terms, including
	investigation of potential violations hereof, (iii) detect, prevent,
	or otherwise address fraud, security or technical issues, (iv)
	respond to user support requests, or (v) protect the rights, property
	or safety of Frengly, its users and the public.</p>

	<p class="tip"><span class="tip">Tip</span> Frengly does not
	disclose personally identifying information to third parties except
	in accordance with our Privacy Policy.</p>
	
	<p>You may not do any of the following while accessing or using
	the Services: (i) access, tamper with, or use non-public areas of the
	Services, Frengly‚Äôs computer systems, or the technical delivery
	systems of Frengly‚Äôs providers; (ii) probe, scan, or test the
	vulnerability of any system or network or breach or circumvent any
	security or authentication measures; (iii) access or search or
	attempt to access or search the Services by any means (automated or
	otherwise) other than through our currently available, published
	interfaces that are provided by Frengly (and only pursuant to those
	terms and conditions), unless you have been specifically allowed to
	do so in a separate agreement with Frengly (NOTE: crawling the
	Services is permissible if done in accordance with the provisions of
	the robots.txt file, however, scraping the Services without the prior
	consent of Frengly is expressly prohibited); (iv) forge any TCP/IP
	packet header or any part of the header information in any email or
	posting, or in any way use the Services to send altered, deceptive or
	false source-identifying information; or (v) interfere with, or
	disrupt, (or attempt to do so), the access of any user, host or
	network, including, without limitation, sending a virus, overloading,
	flooding, spamming, mail-bombing the Services, or by scripting the
	creation of Content in such a manner as to interfere with or create
	an undue burden on the Services.</p>

	<h3>Copyright Policy</h3>

	<p>Frengly respects the intellectual property rights of others
	and expects users of the Services to do the same. We will respond to
	notices of alleged copyright infringement that comply with applicable
	law and are properly provided to us. If you believe that your Content
	has been copied in a way that constitutes copyright infringement,
	please provide us with the following information: (i) a physical or
	electronic signature of the copyright owner or a person authorized to
	act on their behalf; (ii) identification of the copyrighted work
	claimed to have been infringed; (iii) identification of the material
	that is claimed to be infringing or to be the subject of infringing
	activity and that is to be removed or access to which is to be
	disabled, and information reasonably sufficient to permit us to
	locate the material; (iv) your contact information, including your
	address, telephone number, and an email address; (v) a statement by
	you that you have a good faith belief that use of the material in the
	manner complained of is not authorized by the copyright owner, its
	agent, or the law; and (vi) a statement that the information in the
	notification is accurate, and, under penalty of perjury, that you are
	authorized to act on behalf of the copyright owner.</p>

	<p>We reserve the right to remove Content alleged to be
	infringing without prior notice and at our sole discretion. In
	appropriate circumstances, Frengly will also terminate a user‚Äôs
	account if the user is determined to be a repeat infringer. Our
	designated copyright agent for notice of alleged copyright
	infringement appearing on the Services is:</p>

	<address>Frengly.com<br>			
	Email: <a href="mailto:info@frengly.com">info@frengly.com</a></address>

	<h3>The Services are Available "AS-IS"</h3>
	<p>Your access to and use of the Services or any Content is at
	your own risk. You understand and agree that the Services is provided
	to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the
	foregoing, FRENGLY AND ITS PARTNERS DISCLAIM ANY WARRANTIES, EXPRESS
	OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
	NON-INFRINGEMENT. We make no warranty and disclaim all responsibility
	and liability for the completeness, accuracy, availability,
	timeliness, security or reliability of the Services or any content
	thereon. Frengly will not be responsible or liable for any harm to
	your computer system, loss of data, or other harm that results from
	your access to or use of the Services, or any Content. You also agree
	that Frengly has no responsibility or liability for the deletion of,
	or the failure to store or to transmit, any Content and other
	communications maintained by the Services. We make no warranty that
	the Services will meet your requirements or be available on an
	uninterrupted, secure, or error-free basis. No advice or information,
	whether oral or written, obtained from Frengly or through the
	Services, will create any warranty not expressly made herein.</p>

	<h3>Links</h3>
	<p>The Services may contain links to third-party websites or
	resources. You acknowledge and agree that we are not responsible or
	liable for: (i) the availability or accuracy of such websites or
	resources; or (ii) the content, products, or services on or available
	from such websites or resources. Links to such websites or resources
	do not imply any endorsement by Frengly of such websites or resources
	or the content, products, or services available from such websites or
	resources. You acknowledge sole responsibility for and assume all
	risk arising from your use of any such websites or resources.</p>

	<h3>Limitation of Liability</h3>
	<p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, FRENGLY AND
	ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS
	AND LICENSORS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
	INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING
	WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOOD-WILL, OR OTHER
	INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR
	INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT
	OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY
	DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD
	PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; AND (iv)
	UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR
	CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING
	NEGLIGENCE) OR ANY OTHER LEGAL THEORY, WHETHER OR NOT FRENGLY HAS
	BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY
	SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

	<h3>Exclusions</h3>

	<p>Some jurisdictions do not allow the exclusion of certain
	warranties or the exclusion or limitation of liability for
	consequential or incidental damages, so the limitations above may not
	apply to you.</p>

	<h3>Waiver and Severability</h3>
	<p>The failure of Frengly to enforce any right or provision of
	these Terms will not be deemed a waiver of such right or provision.
	In the event that any provision of these Terms is held to be invalid
	or unenforceable, the remaining provisions of these Terms will remain
	in full force and effect.</p>

	<h3>Controlling Law and Jurisdiction</h3>
	<p>These Terms and any action related thereto will be governed by
	the laws of the State of California without regard to or application
	of its conflict of law provisions or your state or country of
	residence. All claims, legal proceedings or litigation arising in
	connection with the Services will be brought solely in San Francisco
	County, California, and you consent to the jurisdiction of and venue
	in such courts and waive any objection as to inconvenient forum. If
	you are accepting these Terms on behalf of a United States federal
	government entity that is legally unable to accept the controlling
	law, jurisdiction or venue clauses above, then those clauses do not
	apply to you but instead these Terms and any action related thereto
	will be will be governed by the laws of the United States of America
	(without reference to conflict of laws) and, in the absence of
	federal law and to the extent permitted under federal law, the laws
	of the State of California (excluding choice of law).</p>

	<h3>Entire Agreement</h3>
	<p>These Terms, the Frengly Rules and our Privacy Policy are the
	entire and exclusive agreement between Frengly and you regarding the
	Services (excluding any services for which you have a separate
	agreement with Frengly that is explicitly in addition or in place of
	these Terms), and these Terms supersede and replace any prior
	agreements between Frengly and you regarding the Services.</p>

	<p>We may revise these Terms from time to time, the most current
	version will always be at <a href="">frengly.com</a>.
	If the revision, in our sole discretion, is material we will notify
	you via an @Frengly update or e-mail to the email associated with
	your account. By continuing to access or use the Services after those
	revisions become effective, you agree to be bound by the revised
	Terms.</p>

	<p>These Services are operated and provided by Frengly.com. If you have any
	questions about these Terms, please <a href="">contact us</a>.</p>

	<p><em>Effective: September 18, 2008</em><br><br><br>"