				<div id="qualityContainer" style="border: 0px solid orange; margin-left: auto;margin-right: auto; overflow: hidden;">					
					<table class="dataTable" id="tableQuality" cellspacing="0" cellpadding="5" border="0"></table>
				</div>
				<div id="tqi" style="font-size: 16px; font-weight: bold;">MTQI - Machine Translation Quality Index</div>
				<br/>
				
				<div id="qualityMeasureArea">
					
					<div class="wrapper textAlot" style="line-height: 25px;">							
					<p><a href="http://www.frengly.com">Frengly.com</a> engine uses its own method to measure translation quality called <b>Machine Translation Quality Index.</b></p>
					<p>The calculation is really simple:</p>
					<img src="images/eq.gif"/>
					</div>
					
					<div class="wrapper textAlot" style="line-height: 25px;">	
					<p>The formula above is a sum of segments evaluations divided by number of words. <br/>
					Segments are blocks of words (usually not longer than 4) in the source text.<br/>
					Let's see the example (EN&rarr;<span id="qualityLang" style="text-decoration: underline; cursor: pointer;" data-dropdown="#dropdown3">FR</span>):</p>					
					</div>
					
					
					<div id="dynamicPart" style="margin-top: 15px; margin-bottom: 5px; padding-left: 20px; border: 1px solid white;">
						<!-- input text -->
						<div id="whatever">
							<input class="form-control" id="qualityInput" type="text" style="display: inline-block;width: 400px;" value="This sample text will be used for index calculation." />						
							<span style="display: inline-block;height: 100%;vertical-align: middle; cursor: pointer;" onclick="loadQuality();"><img style="vertical-align: middle;" src="images/reload.jpg"/></span>
						</div>							
						
						<!-- output -->
						<!-- <img src="images/hand_drown_arrow2.png"/> -->
						<div id="qualityOutput" contenteditable class="form-control" id="qualityTestOutput" style="margin-top:5px; width: 500px; overflow: hidden;">&nbsp;</div>
						
						<div id="dummy"></div>
						<!-- separator -->
						<br/>
						
						<!-- mtqi -->
						<div>
						<span style="font-size:18px; text-decoration: bold; ">MTQI = </span><span style="font-size:18px; text-decoration: bold;" id="mtqi">&nbsp;</span>
						</div>
					</div>
					
					
					<br/>
					<div class="wrapper textAlot" style="line-height: 25px;">
					<p style="font-weight: bold">So how exactly did we come up with the score?</p>
					<p>Try to hover your mouse on the output translation, you will notice that every segment has been rated with a score.</p>												
					<p>And here we have reached the most important part - segment rating. Here it is:</p>
					<p>- 1 for every word inside a human translated segment</p>
					<p>- 1 for every word inside machine translated segment of size &gt; 1</p>
					<p>- 0.80 for a machine translated segment of size 1 (word) which length is &lt; 4</p>
					<p>- 0.75 for a machine translated segment of size 1 (word) which length is &#8805; 4</p>					
					<p>- 0 for missing translation</p>
					
					<br/>
					<p style="font-weight: bold">What is the logic behind this scoring?</p>
					<p style="text-align: justify; width: 700px;">
					Marks defined in the scoring grid above have been defined commonly for all languages as an average values.
					It implies certain accuracy margin that usually ranges from 2% to 10%.
					The margin is an acceptable result of compromise between accuracy and process simplification.
					<br/><br/>
					Two remarks can be concluded from the scoring grid: first - MTQI promotes the human translations over machine translations 
					(this is natural for hybrid translation engines), and the second - when evaluating single word translations (segment of a size 1),
					longer words have better score, as the engine assumes that short words are usually pronouns and prepositions,
					which should be translated along with other words.
					<br/><br/>
					The prime idea behind the MTQI methodology is to make sure that top scores are reserved for accurate translations only, 
					so as the translator engine is able to monitor its quality and progressively improve by removing weak points.
					<br/><br/>
					<img src="images/pdf.png" alt="translate-quality-measure" id="measure-quality-translation"/>
					<a href="http://frengly.com/measure_quality_of_translation.pdf">download the article Measurement of translation quality</a> 
					</div>
				</div>