<div id="champion" style="margin-top: 10px; margin-bottom:10px; border: 1px solid #dddddd; font-size: 14px; background-color: white; line-height: 40px;" />
<div class="frenglyGrid table-responsive" id="rankGrid" class="ra-section" ng-controller="RankController"/>
<div id="rankEmpty" class="panel panel-default" style="display:none; margin-top:10px;">
  <div class="panel-body">
    Translators ranking is not available in the moment
  </div>
</div>