    
        
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign Up</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email" ng-init="" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password" ng-init="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button ng-click="registerUser()" class="btn btn-success">Register</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        
    