	
<!-- 	<div id="toolbar">

	</div> -->
	
	<div id="input-box-wrap" ng-init="initialize()">
		<div id="input-box-over">
			<div id="input-box-over-in"></div>
		</div>
		<div id="input-box" ng-model="text" contenteditables contenteditable="true"  ng-paste="handlePasted($event)" class="input-box-focus" ng-keyup="changeSrcText($event)"></div>
	</div>


	<div id="display-box"></div>
	
	<div id="containerTags" style="display: none;"></div>
	
<!-- 	<div class="btn-group" data-toggle="buttons">	
	  <button type="button" class="btn btn-default">Button 1</button>
	  <button type="button" class="btn btn-default">Button 2</button>
		
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Dropdown
	      <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Dropdown link 1</a></li>
	      <li><a href="#">Dropdown link 2</a></li>
	    </ul>
	  </div>
	</div> -->
	
	
	<div class="btn-group" data-toggle="buttons">
	    <label ng-click="changeLanguage(value)" data="{{value}}" class="btn btn-default {{ value==destLang?'active':'' }}" data-ng-repeat="(key, value) in userLangs">
	        <input type="radio" name="options" /> {{ value }}
	    </label>

	     <div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
		      Other
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu multicol" >
		      <li data-ng-repeat="(key, value) in langs" data-ng-click="addButton(key,value)"><a href="" >{{ value }}</a></li>
		    </ul>
		  </div>
	</div>
    <script>
        $('.panel-primary').show();
    </script>
