  <script type="text/ng-template" id="menu">
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <ul>
        <li ><a>asdasdsssssssssssssssssssssssssss</a></li>
      </ul>
    </div>
  </script>

	<div id="input-box-wrap" ng-init="initialize()">
		<div id="input-box-over">
			<div id="input-box-over-in">
			   <span data-ng-repeat="chunk in translationChunks" id="{{chunk.uniqueId}}" onmouseover="addClass(this)" onmouseout="removeClass(this)">{{ chunk.srcWord}}</span>
			</div>
		</div>
		<div id="input-box" ng-model="text" ng-paste="handlePasted($event)" contenteditables contenteditable="true"  class="input-box-focus" ng-keyup="changeSrcText($event)"></div>
	</div>


	<div id="display-box" >
		<span data-ng-repeat="chunk in translationChunks" class="hoverable" onmouseover="addClass(this)" onmouseout="removeClass(this)" ns-popover="" ns-popover-timeout="1" ns-popover-template="menu" ns-popover-trigger="click" ns-popover-theme="ns-popover-tooltip-theme">{{ chunk.destWord }}</span>
		
	</div>
	
	<div id="containerTags" style="display: none;"></div>


	<div class="btn-group" data-toggle="buttons">
	    <label ng-click="changeLanguage(value)" data="{{value}}" class="btn btn-default {{ value==destLang?'active':'' }}" data-ng-repeat="(key, value) in userLangs">
	        <input type="radio" name="options" /> {{ value }}
	    </label>

	     <div class="btn-group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
		      Other
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu multicol" >
		      <li data-ng-repeat="(key, value) in langs" data-ng-click="addButton(key,value)"><a href="" >{{ value }}</a></li>
		    </ul>
		  </div>
	</div>
  <script>
      $('.panel-primary').show();
  </script>