<div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Edit user account
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">

                                <li>
                                    <div class="timeline-badge" style="background-color: white;">
                                    	<img src="images/avatar-unk.png" class="img-circle"/>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">adrian12@gmail.com</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <div contenteditable="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</div>
                                            <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Mother language <span class="caret"></span></button>                                                
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Action</a></li>                                                    
                                                </ul>
                                            </div>
                                            <button class="btn btn-danger btn-sm" type="button">Delete account</button>
                                        </div>
                                    </div>
                                </li>                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                            
                            
                            
<!-- 			<a class="closing" id="closeUserEditDialog"></a>					
			<div>
				<h2 class="blackheadline">Edit Account Info</h2>

				<div class="demo" style="position:relative; height:130px;">
		        	<div id="upload" style = "border:2px dashed #ddd; width:100px; height:100px; padding:10px; position:absolute;"></div>
		        	<div id="uploaded" style = "border: 1px solid #ddd; height:102px; padding:10px; overflow-y:auto; margin-left: 130px;"></div>
		        </div>
				<div style="width:600px; border:0px solid orange; height: 310px;">
					<div id="photoBig" style="float: left;width:400px; height: 300px; border: 0px solid orange;"></div>
					
					<div style="width:170px; height:300px; float: right; border: 0px solid green;">					 
						<div id="photoMiniContainer" style="width:100px;height:100px;overflow:hidden; margin: auto; margin-top: 90px;"></div>
					</div>						
					
				</div>
				<a id="saveMiniBtn" class="google-button google-button-red">Save</a>			
				<a id="deleteAccountMiniBtn" class="google-button google-button-red">Delete account</a>
			</div>		
			
		<input type="hidden" name="x1" id="x1"/>
		<input type="hidden" name="x2" id="x2"/> -->
