	<h2>View 1 </h2>		
	<br />
	<input type="text" data-ng-model="name"/>
	<br />
	<ul>
		<li data-ng-repeat="customer in customers | filter: name | orderBy: 'name'">{{ customer.name | uppercase}} - {{ customer.city}}</li>
	</ul>	