	<h2>View 2</h2>	
	
	<br />
	<input type="text" data-ng-model="city"/>
	<br />
	<ul>
		<li data-ng-repeat="customer in customers | filter: city | orderBy: 'name'">{{ customer.name | uppercase}} - {{ customer.city}}</li>
	</ul>	