/*reset*/
/* h1 font */
@font-face {
  font-family: "MetricWeb-Semibold";
  src: url("fonts/MetricWeb-Semibold.eot");
  src: url("fonts/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/MetricWeb-Semibold.woff") format("woff"), url("fonts/MetricWeb-Semibold.ttf") format("truetype"), url("fonts/MetricWeb-Semibold.svg#MetricWeb-Semibold") format("svg");
}

/* h2, h3 font */
@font-face {
  font-family: "FaktSlabPro-Medium";
  src: url("fonts/FaktSlabPro-Medium.eot");
  src: url("fonts/FaktSlabPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/FaktSlabPro-Medium.woff") format("woff"), url("fonts/FaktSlabPro-Medium.ttf") format("truetype"), url("fonts/FaktSlabPro-Medium.svg#FaktSlabPro-Medium") format("svg");
}


/* New font */
@font-face {
    font-family: 'demos';
    src:url('fonts/demos.eot?9wdv67');
    src:url('fonts/demos.eot?#iefix9wdv67') format('embedded-opentype'),
        url('fonts/demos.woff?9wdv67') format('woff'),
        url('fonts/demos.ttf?9wdv67') format('truetype'),
        url('fonts/demos.svg?9wdv67#demos') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="k-uni"],
.tc-activator:after {
    font-family: 'demos';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.k-uniE600:before {
    content: "\e600";
}
.k-uniE601:before {
    content: "\e601";
}
.k-uniE602:before {
    content: "\e602";
}
.k-uniE603:before {
    content: "\e603";
}
.k-uniE604:before {
    content: "\e604";
}
.k-external:before {
    content: "\e605";
}

body,h1,h2,h3,h4,p,ul,li,a,button,.main-nav,.kendo-nav,#banner p,.browsers,#nav-pager,#examples-list
{
    margin:0;
    padding:0;
    list-style:none;
}

body {
    background-color: #fff;
    color: #555;
    font: 400 12px Arial, Helvetica, sans-serif;
    min-width: 1230px;
    position: relative;
}

body,
html {
   min-height: 100%;
}

img
{
    border:0;
}

a,
li>a,
h2>a,
h3>a,
a
{
    text-decoration:none;
}

/*global*/
.floatWrap:after,#example:after{content:"";display:block;clear:both;}
.floatWrap,#example{display:inline-block}
.floatWrap,#example{display:block}
.clear{clear:both}

html
{
    font:75% Arial,Helvetica,sans-serif;
    height: 100%;
}

#header, .suite-demos-nav, .demos-nav,
#footer, .centerWrap, .submenu-box a
{
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    color: #0487c4;
}

a:hover
{
    text-decoration: underline;
}

.kendo-nav,
#example,
#exampleTitle
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.overview #header,
.overview .suite-demos-nav,
.overview .demos-nav,
.overview #footer
{
    /*iPad fix*/
    min-width:990px;
}

header
#header h1
{
    width:134px;
    height:45px;
    float:left;
    margin:6px 0 0;
}

.overview #header h1
{
    width:224px;
    height:74px;
    margin:20px 0 0;
}

#header ul
{
    float:right;
    clear:right;
}

.main-nav
{
    margin:25px -8px 0 0;
}

*+html .kendo-nav
{
    min-width:648px;
}

.main-nav>li,
.kendo-nav>li
{
    float:left;
    position:relative;
}

.main-nav>li
{
    padding:0 15px;
}

.main-nav li:first-child
{
    border:0;
}

.main-nav a,
.kendo-nav a,
.suite-demos-nav a,
#footer .bottom-nav a,
#examples-list a,
.launchButton
{
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

 /*Header navigation*/
.main-nav a
{
    color:#737373;
}

.main-nav a:hover
{
    color:#010101;
}

.demos-nav .active a
{
    color: #000;
}

.demos-nav .dashboards .active a
{
    color:#2e2e2e;
}

.overview .kendo-nav
{
    margin:22px 0 17px;
}

.kendo-nav>li
{
    margin-left:40px;
}

.kendo-nav>li.active
{
    margin-left:0;
}

.kendo-nav a
{
    display:block;
    font-size:21px;
    line-height: 1.6;
    color:#2e2e2e;
}

.main-nav a>span
{
    font-size:8px;
    line-height:1.4;
    position:relative;
    top:-.1em;
}

.kendo-nav a>span
{
    font-size:10px;
    line-height:1.4;
    position:relative;
    top:-.2em;
}

.kendo-nav .active,
.suite-demos-nav .active,
.suite-demos-nav .floatWrap,
#footer .centerWrap,
#codeStrip .k-state-active
{
    position:relative;
}

/*popup submenus*/
.submenu-box {
    margin-bottom: 15px;
    padding: 0 0 0 20px;
}

.submenu-box {
    border: 1px solid #22252D;
    display: none;
    left: 50%;
    margin-left: -155px;
    min-width: 270px;
    padding: 15px 20px 10px;
    position: absolute;
    top: 28px;
    z-index: 100;

    background:#22252d url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjUyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTNlNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #22252d 0%, #474c57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22252d), color-stop(100%,#474c57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #22252d 0%,#474c57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #22252d 0%,#474c57 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #22252d 0%,#474c57 100%); /* IE10+ */
    background: linear-gradient(to bottom, #22252d 0%,#474c57 100%); /* W3C */

    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.submenu-box:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #22252D;
    border-image: none;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: -23px;
    width: 0;
}

.submenu-box ol,
.submenu-box li {
    clear:both;
    float:none;
    list-style: none;
    padding: 0;
}

.main-nav .submenu-box a {
    line-height:22px;
}

.main-nav div.submenu-box h3 a {
    color:#C1C1C1;
    font-size:20px;
    line-height:1.4;
}
.submenu-box a {
    color:#C1C1C1;
    font-size:16px;
    line-height:28px;
}

.submenu-box a:hover,
.main-nav div.submenu-box h3 a:hover {
    color: #fff;
}

div.submenu-box h4 {
    color: #787A7F;
    font-weight: normal;
    font-size:10px;
    line-height:1.4;
    margin: 0;
    text-transform: uppercase;
}

.submenu-box hr {
    border-color: #1B1D23 transparent #3E4149;
    border-style: solid none;
    border-width: 1px 0;
    margin: 13px 0;
    padding: 0;
}

div.submenu-box ol {
    clear: none;
    float: left;
    margin: 0;
    min-width: 95px;
}

.submenu-box.support-menu {
    min-width: 170px;
    margin-left: -105px;
}

#resources-first {
    float: left;
    width: 140px;
}

/*featured demos and demos-nav*/
.sourceChooser,
#codeStrip .k-content.k-tabstrip .k-tabstrip-items
{
    border:1px solid #dfdfdf;
    border-top: none;
    background: #fbfbfc;
}

#source-code {
    background: #fff;
    border-color: #ebecee;
}

#source-code > div.k-content {
    font-size: 14px;
    overflow-x: auto;
}

#source-code .k-item {
    font-weight: bold;
}

.demos-nav
{
    background: #f3f5f7;
    color: #555;
    border-top: 4px solid #2db245;
}

.overview .demos-nav,
.integra-examples
{
    border-bottom-width:0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.overview .demos-nav
{
    background-color: #fff;
    border: 0;
}

.overview > .centerWrap > h2
{
    margin:1.2em 0 0;
    font-size:40px;
    color:#333;
    text-align:left;
}


.launchButton
{
    display: inline-block;
    min-width: 100px;
    margin: 15px auto 0 auto;
    text-decoration: none;
    color: #fff;
    text-align: center;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color: #015991;

    margin-bottom: 2px;
    padding: 9px 30px;

    line-height: 1.2;
    color: #fff;
    transition-property: background-color,color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-appearance: none;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease, opacity 0.2s ease;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.launchButton:hover
{
    color: white;
    background-color: #013a5e;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-initial;
    outline-color: initial;
    text-decoration: none;
}

#exampleTitle
{
    color:#000;
    font-style: normal;
    font-variant: normal;
    font-size: 24px;
    line-height: 1;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: -0.04em;
    display: block;
    font-weight: 400;
    z-index: 100;
}

#exampleTitle strong
{
   font-weight: 400;
}

.exampleIcon
{
    width:20px;
    height:20px;
    float:left;
    margin:0 11px 0 0;
    background:no-repeat url(sprite.widgets.png);
    -webkit-transform: translatez(0);
}

.overviewIcon{display:none;}
.applicationIcon{background-position:0 0;}
.autoCompleteIcon{background-position:-20px 0;}
.mobileButtonIcon{background-position:-40px 0;}
.mobileButtonGroupIcon{background-position:-60px 0;}
.calendarIcon{background-position:-80px 0;}
.chartIcon{background-position:-100px 0;}
.chartAreaIcon{background-position:-120px 0;}
.chartBarIcon{background-position:-140px 0;}
.chartLineIcon{background-position:0px -20px;}
.chartPieIcon{background-position:-20px -20px;}
.chartScatterIcon{background-position:-40px -20px;}
.chartDonutIcon{background-position:-140px -99px;}
.chartBubbleIcon{background-position:0 -120px;}
.chartStockIcon{background-position:-20px -120px;}
.comboBoxIcon{background-position:-60px -20px;}
.dataSourceIcon{background-position:-80px -20px;}
.datePickerIcon{background-position:-100px -20px;}
.dragDropIcon{background-position:-120px -20px;}
.dropDownListIcon{background-position:-140px -20px;}
.editorIcon{background-position:0px -40px;}
.gaugeLinearIcon{background-position:-20px -40px;}
.gaugeRadialIcon{background-position:-40px -40px;}
.globalizationIcon{background-position:-60px -40px;}
.gridIcon{background-position:-80px -40px;}
.mobileHistoryIcon{background-position:-100px -40px;}
.integrationIcon{background-position:-120px -40px;}
.mobileListViewIcon{background-position:-20px -60px;}
.listViewIcon{background-position:0 -60px;}
.menuIcon{background-position:-20px -60px;}
.mvvmIcon{background-position:-40px -60px;}
.mobileNavBarIcon{background-position:-60px -60px;}
.numericTextBoxIcon{background-position:-80px -60px;}
.panelBarIcon{background-position:-100px -60px;}
.mobileScrollerIcon{background-position:-120px -60px;}
.mobileScrollViewIcon{background-position:-140px -60px;}
.mobileSwitchIcon{background-position:-120px -80px;}
.sliderIcon{background-position:0 -80px;}
.splitterIcon{background-position:-20px -80px;}
.mobileTabStripIcon{background-position:-40px -80px;}
.tabStripIcon{background-position:-60px -80px;}
.templatesIcon{background-position:-80px -80px;}
.timePickerIcon{background-position:-100px -80px;}
.mobileToggleButtonIcon{background-position:-120px -80px;}
.treeViewIcon{background-position:-140px -80px;}
.uploadIcon{background-position:0 -100px;}
.validatorIcon{background-position:-20px -100px;}
.windowIcon{background-position:-40px -100px;}
.mobilePopOverIcon{background-position:-60px -100px;}
.mobileSplitViewIcon{background-position:-80px -100px;}
.mobileActionSheetIcon{background-position:-100px -100px;}
.mobileModalViewIcon{background-position:-120px -100px;}
.mobileDrawerIcon{background-position:-140px -40px;}
.colorPickerIcon{background-position:-60px -120px;}
.multiselectIcon{background-position:-140px -120px;}
.tooltipIcon{background-position:-40px -120px;}
.spaIcon{background-position:-120px -120px;}
.sparklineIcon{background-position:-80px -120px;}
.chartBulletIcon{background-position:-100px -120px;}
.schedulerIcon{background-position:0 -140px;}
.barcodeIcon{background-position:-20px -140px;}
.qrcodeIcon{background-position:-40px -140px;}
.chartRadarIcon{background-position:-60px -140px;}
.chartPolarIcon{background-position:-80px -140px;}
.buttonIcon{background-position:-40px 0;}
.progressBarIcon{background-position:-120px -140px;}
.chartFunnelIcon{background-position:-100px -140px;}
.chartBoxPlotIcon{background-position:-140px -140px;}
.mapIcon{background-position:0 -160px;}
.diagramIcon{background-position:-20px -160px;}
.maskedtextboxIcon{background-position:-40px -160px;}
.sortableIcon{background-position:-60px -160px;}
.notificationIcon{background-position:-80px -160px;}
.mobileIcon{background-position:-100px -160px;}

.mobile + .widgetOverview #exampleTitle
{
    position: absolute;
    top: 23px;
}

.mobile + .widgetOverview #exampleWrap
{
    margin-top: 45px;
}

.mobile + .widgetOverview #themeWrap
{
    margin-right: 7px;
}

.themechooser
{
    background-color: #f5f7f8;
    border-bottom: 1px solid #e2e4e7;
    text-align: right;
}

.themechooser .tc-activator
{
    outline: none;
    cursor: pointer;
    color: #2d3e50;
    display: inline-block;
    padding: 0 20px;
    line-height: 4em;
    font-size: 1.1667em;
}

.themechooser .tc-activator:hover
{
    background-color: #e2e4e7;
}

.themechooser .tc-active,
.tc-theme-list
{
    background-color: #ebeef0;
}

.themechooser .tc-activator:after
{
    content: "\e604";
    display: inline-block;
    margin-left: .5em;
    font-size: .8em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.themechooser .tc-active:after
{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.themechooser h4
{
    text-transform: uppercase;
    font-size: 1em;
    line-height: 25px;
}

.tc-column
{
    display: inline-block;
}

.tc-column:first-child
{
    border-right: 1px solid #cad0d6;
    margin-right: 30px;
    padding-right: 5px;
}

.tc-theme-list
{
    border: 0;
    text-align: left;
    overflow: hidden;
    padding: 25px 87px;
}

.tc-theme-list ul
{
    float: left;
    width: 160px;
    margin-right: 15px;
    border-width: 0;
    background: none;
}

.tc-theme-list .themes-grid
{
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    width: 480px;
}

.tc-column h4+ul
{
    margin-left: -10px;
}

.tc-item
{
    display: block;
    cursor: pointer;
    line-height: 26px;
    color: #2d3e50;
    padding: 0 10px;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.k-ie7 .tc-item,
.k-ie8 .tc-item,
.k-ie9 .tc-item
{
    display: inline-block;
    width: 132px;
}


.tc-item:hover
{
    text-decoration: none;
    background-color: #e2e4e7;
}

.tc-name
{
    padding-left: 5px;
}

.tc-relativity
{
    color: #555;
}

.tc-item.k-state-selected
{
    color: #000;
    background-color: #cad0d6;
    background-image: none;
    box-shadow: none;
}

.tc-color
{
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 1px #c5c8ca;
}

#qrWrap
{
    margin-left:14px;
    color:#444;
    border-top:1px solid #dfdfdf;
    margin-top:30px;
    padding-top:10px;
    font-size: 12px;
}

#qr
{
    display:inline-block;
    margin-top:1em;
    color:#2e2e2e;
    text-decoration:none;
}

#qr:hover
{
    color:#0487C4;
}

.k-qr
{
    width:16px;
    height:16px;
    margin-left:8px;
    vertical-align:text-top;
    background:0 0 no-repeat url(qr-icon.png);
}

#qr em
{
    font-style:normal;
}

#qrBig
{
    display:none;
    margin-right:9px;
}

#example
{
    position:relative;
    min-height:300px;
    font-size: 14px;
}

*+html #example
{
    z-index: 2;
}

.widgetOverview #example
{
    padding:0;
    background-color: #fff;
}

.k-block
{
    width: 200px;
    height: 100px;
}

.wideCol.dashboards ul,
#deviceList
{
    width:auto;
    margin-top:30px;
}

.wideCol.dashboards ul
{
    margin-top: 0;
}

.dashboards li
{
    float:left;
    text-align: left;
}

.dashboards a
{
    width:100px;
}

.dashboards a+a
{
    padding:3px 0 0;
    width: 94px;
}

.dashboards img
{
    display:block;
}

.custom-themes-cat,
.bar--qr-codes-cat,
.geoviz-cat,
.diagramming-cat,
.web .custom-themes-cat
{
    padding-top: 15px;
}

/*previous demo site styles*/

pre.prettyprint
{
    font-family:courier,monospace;
}

/*console*/

.console
{
    background-color: transparent;
    color: #333;
    font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    margin: 0;
    overflow-x: hidden;
    text-align: left;
    height: 200px;
    min-width: 300px;
    border: 1px solid rgba(20,53,80,0.1);
    background-color: #ffffff;
}

.demo-section .box-col .console
{
    width: 500px;
}

.console .count,
.km-root .km-android .console .count
{
    background-color: #91AFEF;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px 6px 2px 5px;
}

.console div
{
    background-position: 6px -95px;
    border-bottom: 1px solid #DDD;
    padding: 5px 5px 4px 24px;
}

.console .error
{
    background-position: 6px -135px;
}

/* Console Mobile */
.km-root .console
{
    margin: 2em;
    min-height: 10em;
    height: auto;
    overflow-y: auto;
}

.km-root .console div
{
    padding: 0;
    min-height: 2.5em;
    color: #333;
    font: normal .8em/2.5em monospace;
    vertical-align: middle;
    text-indent: .6em;
}

.km-root .console .count,
.km-root .km-android .console .count
{
    background-clip: border-box;
    background-color: #f00;
}

/*configurator*/

.centerWrap .configuration,
.configuration-horizontal
{
    float: right;
    margin: 0 0 0 15px;
    padding: 0 10px 10px 10px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.01);
    min-width: 170px;
    max-width: 300px;
}

.absConf .configuration
{
    position: absolute;
    top: -1px;
    right: -1px;
    height: auto;
    margin: 0;
    z-index: 2;
}

.configuration-horizontal
{
    position: static;
    height: auto;
    min-height: 0;
    max-width: 948px;
    margin: 0 0 10px;
    float:none;
    zoom: 1;
}

.configuration-horizontal-bottom
{
    margin: 20px -21px -21px;
    position: static;
    height: auto;
    min-height: 0;
    width: auto;
    float:none;
}

.configuration .configHead,
.configuration .infoHead,
.configuration-horizontal .configHead,
.configuration-horizontal .infoHead
{
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-indent: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}


.configuration .configTitle,
.configuration-horizontal .configTitle
{
    font-size: 12px;
    display: block;
    line-height: 22px;
}

.configuration .options,
.configuration-horizontal .options
{
    list-style:none;
    margin: 0;
    padding: 0;
}

.configuration button,
.configuration-horizontal button
{
    margin: 0;
    vertical-align: middle;
}

.configuration .k-textbox,
.configuration-horizontal .k-textbox
{
    margin-left: 7px;
    width: 30px;
}

.configuration .options li { display: block; margin: 0; padding: 0.2em 0; zoom: 1; }

.configuration .options li:after,
.configuration-horizontal:after
{
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.configuration-horizontal .config-section
{
    display: block;
    float: left;
    min-width: 200px;
    margin: 0;
    padding: 10px 20px 10px 10px;
}

.config-section.console-section
{
    width: 400px;
    float: right;
}

.configuration label,
.configuration input
{
    vertical-align: middle;
    line-height: 20px;
    margin-top: 0;
}

.configuration label
{
    float: left;
}

.configuration input
{
    width: 40px;
}

.configuration input,
.configuration select,
.configuration .k-numerictextbox
{
    float: right;
}

.configuration input.k-input
{
    float: none;
}

.configuration .k-button,
.configuration .k-widget
{
    margin-bottom: 3px;
}

/* code viewer */
#codeStrip
{
    border:0;
    margin-bottom: 84px;
    font-size: 12px;
}

#codeStrip .k-tabstrip-items
{
    border-bottom:1px solid rgba(20,53,80,0.05);
    padding: 0;
    position: relative;
    z-index:1;
    background: #f5f7f8; /* Old browsers */
}

#codeStrip .k-item .k-loading
{
    display: none;
}

#codeStrip a.documentation-link,
#codeStrip .try-kendo
{
    display: block;
    float: right;
    position: relative;
    z-index: 2;
}

#codeStrip .try-kendo::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

#codeStrip .k-content,
#codeStrip .k-item,
#codeStrip .k-link
{
    border:0;
    background:none;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}

#codeStrip .k-content
{
    margin: 0;
}

#codeStrip .k-link
{
    background:none;
    border-width:0;
    color:#428bca;
    font-size:1.1em;
    line-height: 1.1em;
    padding:0.769em 1.462em;
    margin-right: 30px;
    border-left: 1px solid #e2e4e7;
}

#codeStrip .k-link:nth-child(2) {
    border-left: none;
}

#codeStrip li.k-state-active
{
    position:relative;
}

#codeStrip>.k-tabstrip-items>li>.k-link
{
    color: #555;
}

#codeStrip>.k-tabstrip-items>li.k-state-active>.k-link,
#codeStrip>.k-tabstrip-items>li.k-state-hover>.k-link
{
    color: #2db245;
}

#codeStrip>.k-tabstrip-items>li>.k-link:hover
{
    text-decoration: none;
}

#codeStrip>.k-tabstrip-items>li.k-state-active>.k-link
{
    border-bottom: 2px solid #2db245;
}

#codeStrip .k-tabstrip .k-link
{
    /*padding:5px 10px;*/
    margin:10px 0 10px 14px;
    color: #000;
}

#codeStrip .k-tabstrip .k-state-active .k-link
{
    color: #000;
}

#codeStrip .k-tabstrip .k-link
{
    color: #428bca;
}

#codeStrip .k-tabstrip .k-link:hover
{
   color: #036c9c;
   text-decoration: underline;
}

#codeStrip .k-content .k-content
{
    background: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
}

#codeStrip .k-content
{
    padding:0;
    overflow: hidden;
    color:#2e2e2e;
}

#codeStrip
{
    background:#fff none;
}

#codeStrip h3
{
    margin:1.4em 0 0;
}

#codeStrip .prettyprint
{
    padding: 20px;
}

.sourceChooser
{
    padding:14px 14px 10px;
    text-align:right;
}

.sourceChooser>label
{
    text-transform:uppercase;
    display:inline-block;
    line-height:26px;
    vertical-align:middle;
}

.sourceChooser>.k-widget
{
    text-align:left;
}

/* documentation */

.code-sample,
.details-list
{
    margin: 6px 0;
    border: 3px solid #dedede;
    background: #e5e5e5;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.code-title,
.details-title
{
    margin: 0;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: normal;
    background: -moz-linear-gradient(top, #ebebeb 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    background: -o-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    background: -ms-linear-gradient(top, #ebebeb 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#dedede',GradientType=0 );
    background: linear-gradient(top, #ebebeb 0%,#dedede 100%);
}

#example .code-sample
{
    margin-right:15px;
}

.prettyprint,
.details-list dl
{
    padding: 0;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.code-sample .prettyprint,
.details-list dl
{
    padding: 10px;
    background: #f9f9f9;
    border: 0;
}

.k-black #example .code-title,
.k-black #example .details-title
{
    color: #fff;
    background: -moz-linear-gradient(top, #333 0%, #222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222));
    background: -webkit-linear-gradient(top, #333 0%,#222 100%);
    background: -o-linear-gradient(top, #333 0%,#222 100%);
    background: -ms-linear-gradient(top, #333 0%,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#222',GradientType=0 );
    background: linear-gradient(top, #333 0%,#222 100%);
}

.k-black #example .code-sample,
.k-black #example .details-list
{
    border-color: #222;
    background: transparent;
}

.k-black #example .code-sample .prettyprint,
.k-black #example .details-list dl
{
    background: transparent;
}

.code-sample .prettyprint
{
    font-size: 12px;
}

pre .nocode { background-color: transparent; color: #000; }
pre .str,                    /* string */
pre .atv { color: #2db245; } /* attribute value */
pre .kwd { color: #ff3399; } /* keyword */
pre .com { color: #9933cc; } /* comment */
pre .typ { color: #000; } /* type */
pre .lit { color: #0099ff; } /* literal */
pre .pun { color: #333; }    /* punctuation */
pre .pln { color: #3e526b; }    /* plaintext */
pre .tag { color: #3e526b; } /* html/xml tag */
pre .atn { color: #3e526b; } /* attribute name */
pre .dec { color: #3e526b; } /* decimal */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #333; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
li.L1,li.L3,li.L5,li.L7,li.L9 { background: #eee; }

.details-list dl
{
    overflow: hidden;
    padding: 0;
    background-color: #ededed;
}

.details-list dt,
.details-list dd
{
    margin: 0;
    padding: 7px 10px;
}

.details-list dt
{
    float: left;
    clear: left;
    width: 250px;
}

.details-list dt:after
{
    content: "|";
    color: #ccc;
    float: right;
}

.details-list dt:nth-child(4n+1),
.details-list dd:nth-child(4n+2)
{
    background-color: #fff;
    min-height: 1.25em;
}

.chart-wrapper,
.map-wrapper,
.diagram-wrapper {
    position: relative;
    width: 948px;
    height: 470px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,0.01)
}

#example.absConf .chart-wrapper,
#example.absConf .map-wrapper,
#example.absConf .diagram-wrapper
{
    margin-left: 0;
}

.chart-wrapper .k-chart,
.map-wrapper .k-map,
.diagram-wrapper .k-diagram {
    width: 948px;
    height: 470px;
}

.config-section .k-chart,
.config-section .k-map,
.config-section .k-diagram {
    width: 480px;
    height: 240px;
}

#device-wrapper {
    background-image: url("iphone.png");
    background-size: cover;
    padding: 119px 47px 112px 50px;
    margin: auto;
}

#device-wrapper.android-dark,
#device-wrapper.android-light {
    background-image: url("nexus.png");
}

#device-wrapper.blackberry {
    background-image: url("blackberrySkin.png");
}

#device-wrapper.wp-dark,
#device-wrapper.wp-light {
    background-image: url("wpSkin.png");
}

#device-wrapper.flat {
    background-image: url("flat.png");
}

.tablet #device-wrapper,
.tablet #mobile-application-container
{
    height: 453px;
    width: 605px;
}

.tablet #device-wrapper
{
    background-size: 100% auto;
    height: 453px;
    padding: 57px 66px 57px 66px;
    background-image: url("ipad.png");
}

#example.tablet
{
    padding-left: 22px;
}

.tablet .android #mobile-application-container,
.tablet .blackberry #mobile-application-container,
.tablet .wp #mobile-application-container
{
    height: 358px;
}

.tablet #device-wrapper.android {
    height: 362px;
    padding: 45px 73px 45px 73px;
    background-image: url("a100.png");
}

.tablet #device-wrapper.blackberry {
    height: 362px;
    padding: 73px 77px 73px 77px;
    background-image: url("playbook.png");
}

.tablet #device-wrapper.wp {
    height: 358px;
    padding: 60px 60px 54px 59px;
    background-image: url("w8.png");
}

#device-wrapper,
#mobile-application-container {
    height: 455px;
    overflow: hidden;
    position: relative;
    width: 282px;
}

#device-wrapper [href='#/'], #back-button, .back-button
{
    visibility: hidden;
}

#example .km-android [href*=index]
{
    display: none;
}

#example .km-wp
{
    font-size: 1.2rem;
}

.mobileExample .km-wp-light .km-content,
.mobileExample .km-wp-light .km-button,
.mobileExample .km-wp-light .km-navbar,
.mobileExample .km-wp-light .km-detail,
.mobileExample .km-wp-light *:not(.k-label) > input:not(.k-input),
.mobileExample .km-wp-light .k-dropdown,
.mobileExample .km-wp-light *:not(.k-label) > textarea,
.mobileExample .km-wp-light *:not(.k-label) > select
{
    background: #fff;
}

.mobileExample .km-wp-dark .km-content,
.mobileExample .km-wp-dark .km-button,
.mobileExample .km-wp-dark .km-navbar,
.mobileExample .km-wp-dark .km-detail,
.mobileExample .km-wp-dark *:not(.k-label) > input:not(.k-input),
.mobileExample .km-wp-dark .k-dropdown,
.mobileExample .km-wp-dark *:not(.k-label) > textarea,
.mobileExample .km-wp-dark *:not(.k-label) > select
{
    background: #000;
}

.mobileExample .km-pane-wrapper *:not(.k-state-default) > input:not([type="checkbox"]):not([type="radio"]),
.mobileExample .km-pane-wrapper .k-mobile-list select:not([multiple]),
.mobileExample .km-pane-wrapper .k-mobile-list textarea,
.mobileExample .km-pane-wrapper .k-mobile-list .k-widget,
.mobileExample .km-pane-wrapper .k-edit-field > *:not([type="checkbox"]):not([type="radio"]):not(.k-button)
{
    width: 50%;
}

.mobileExample .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check,
.mobileExample .km-pane-wrapper .k-mobile-list .k-edit-field > * > select:not([multiple]),
.mobileExample .km-pane-wrapper .k-mobile-list .k-scheduler-timezones .k-edit-field label.k-check
{
    width: 100%;
}

.mobileExample .km-pane-wrapper .k-scheduler-views
{
    width: 200px;
}

.mobileExample .km-pane-wrapper .k-mobile-list .k-edit-field > .k-button
{
    margin-left: 50%;
}

.mobileExample .km-pane-wrapper .k-mobile-list .k-edit-field > .k-timezone-button
{
    margin-left: 1em;
}

.mobileExample .km-pane-wrapper .k-nav-today a
{
    padding-left: .6em;
    padding-right: .6em;
}

.mobileExample .km-pane-wrapper li.k-nav-current
{
    margin-left: 0;
    margin-right: 0;
}

.mobileExample .km-pane-wrapper .k-pager-wrap
{
    position: relative;
}

.mobileExample .km-pane-wrapper .k-pager-numbers
{
    width: auto;
    display: block;
    overflow: hidden;
    margin-right: 5.5em;
    float: none;
    text-overflow: ellipsis;
    height: 2.4em;
    text-align: center;
}

.mobileExample .km-pane-wrapper .k-pager-numbers li
{
    float: none;
    display: inline-block;
}

.mobileExample .km-pane-wrapper .k-pager-nav
{
    float: left;
}

.mobileExample .km-pane-wrapper .k-pager-nav + .k-pager-nav ~ .k-pager-nav
{
    position: absolute;
    right: .3em;
    top: .3em;
}

.mobileExample .km-pane-wrapper .k-pager-wrap .k-pager-numbers + .k-pager-nav,
.mobileExample .km-pane-wrapper .k-pager-nav:first-child + .k-pager-nav + .k-pager-nav
{
    right: 3em;
}

.mobileExample .km-pane-wrapper .k-pager-info
{
    display: none;
}

#example .km-wp .km-tabstrip .km-button,
#example .km-wp .km-tabstrip .km-button.km-state-active
{
    background: transparent;
}

#example .km-wp .km-detail:active,
#example .km-wp .km-button:active,
#example .km-wp .km-detail.km-state-active,
#example .km-wp .km-button.km-state-active,
#example .km-wp .km-actionsheet > li > a:active,
#example .km-wp .km-badge,
#example .km-wp .km-group-title,
#example .km-wp .km-pages .km-current-page,
#example .km-wp .km-switch-background
{
    color: white;
    background-color: #01ABAA;
}

#example .km-wp .km-tabstrip .km-state-active .km-icon {
    background-color: #01ABAA;
}

#example .km-wp input:not(.k-input):focus,
#example .km-wp textarea:focus
{
    border-color: #01ABAA;
}

#example #device-wrapper .km-wp8 img
{
    border-radius: 0;
}

#icon-list
{
    margin: 0;
    padding: 0;
}

#icon-list li
{
    position: relative;
    padding: 4px 0;
    width: 70px;
    height: 50px;
    margin: 0 0 .6em;
    text-align: center;
    display: inline-block;
    list-style: none;
}

#icon-list span
{
    display: block;
    margin: 0 auto;
    background-color: #444;
    width: 32px;
    height: 32px;
}

div.old-browser
{
    display: block;
    background: #333;
}

.old-browser .content
{
    width: 100%;
    height: 120%;
    text-align: center;
    vertical-align: middle;
}

.old-browser .content:before
{
    content: "\a0";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.old-browser .centered
{
    margin: 20px;
    color: #eee;
    font-size: 12px;
    display: inline-block;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.old-browser .centered strong
{
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.prettytable {
    border-collapse: separate;
    border-spacing: 0;
}

.prettytable > thead > tr > th,
.prettytable > tbody > tr > th,
.prettytable > tfoot > tr > td {
    background-color: #ef652a;
    padding: 9px 6px;
    color: #fff;
    text-align: left;
    line-height: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #d75b26 #d75b26 #d75b26 #f28455;
}

.prettytable > tbody > tr > td {
    line-height: 23px;
    padding: 0 6px;
    background: #eaeaea;
    color: #3d3d3d;
    border-width: 1px;
    border-style: solid;
    border-color: #f4f4f4 #d6d6d6 #d6d6d6 #f4f4f4;
}

.metrotable > thead > tr > th {
    padding: 2em 1em 0 0;
    text-transform: lowercase;
    text-align: left;
    font-size: 2em;
    font-weight: lighter;
    color: #bbb;
    border-bottom: 1px solid #ccc;
}

.metrotable > tbody > tr > td {
    padding: .5em 1em .5em 0;
    text-transform: lowercase;
    text-align: left;
    font-size: 1.2em;
    font-weight: lighter;
    color: #787878;
    border-bottom: 1px solid #e1e1e1;
}

.brand-line
{
    border-bottom:4px solid #2db245;
}

#themebuilder-chooser {
    text-align: center;
    font: italic 14px 'Lucida Sans',serif;
    color: #8e8e8e;
    background-color: #f3f5f7;
}

#themebuilder-chooser a {
    display: inline-block;
    border: 1px solid #d5d5d5;
    background: #f5f5f5;
    padding: 18px 0;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 203px;
    height: 31px;
    margin: 16px;
    vertical-align: middle;
}

#themebuilder-chooser a:hover {
    background-color: #e8e8e8;
}

#themebuilder-chooser a.active,
#themebuilder-chooser a.active:hover {
    background-color: #eaeaea;
    box-shadow: inset 0 1px 5px #aaa, inset 0 0 20px #bcbcbc;
}

#mobile-landing {
    background: url("../images/mobile-landing.jpg") no-repeat 50% 0;
    height: 523px;
}

/*keyboard navigation legend */
.key-button {
    display: inline-block;
    text-decoration: none;
    color: #555;
    min-width: 20px;
    margin: 0;
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #eee;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.1), 0 2px 0 rgba(0,0,0,0.1);
}
.widest {}
.wider {}
.wide {}
.leftAlign, .rightAlign, .centerAlign {text-align: left;}

.letter {
    padding-top: 14px;
    padding-bottom: 11px;
    font-weight: bold;
    font-size: 17px;
}

ul.keyboard-legend {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

ul.keyboard-legend li {
    display: block;
    margin: 0;
    padding: 4px 0;
}

ul.keyboard-legend li a {
    color: #0487C4;
}

.button-preview {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 0 0;
}
.button-descr {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 3px 0;
}

/* Font-face for FF/IE10 */
@font-face {
    font-family: "Kendo UI Examples";
    src: url("kendoui.woff") format("woff"),
         url("kendoui.ttf") format("truetype");
}

#device-wrapper .km-icon:after,
#device-wrapper .km-icon:before,
#device-wrapper .km-contactadd:after,
#device-wrapper .km-contactadd:before,
#device-wrapper .km-rowdelete:after,
#device-wrapper .km-rowdelete:before,
#device-wrapper .km-rowinsert:after,
#device-wrapper .km-rowinsert:before,
#device-wrapper .km-detaildisclose:after,
#device-wrapper .km-detaildisclose:before,
#device-wrapper .km-loading:after
{
    font-family: "Kendo UI Examples";
}

/* Retina Support */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
    .new-widget,
    .beta-widget,
    .pro-widget {
        background-image: url('tags@2x.png');
        background-size: 37px 27px;
    }
}

#betabutton
{
    position:absolute;
    line-height:36px;
    padding:0 14px;
    color:#fff;
    border-radius:0 0 5px 5px;
    bottom:-36px;
    right:0;
    text-decoration:none;

    background: #e05b17; /* Old browsers */
    background: -moz-linear-gradient(top, #e46217 0%, #e05b17 50%, #db5116 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e46217), color-stop(50%,#e05b17), color-stop(100%,#db5116)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e46217 0%,#e05b17 50%,#db5116 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e46217 0%,#e05b17 50%,#db5116 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e46217 0%,#e05b17 50%,#db5116 100%); /* IE10+ */
    background: linear-gradient(top, #e46217 0%,#e05b17 50%,#db5116 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e46217', endColorstr='#db5116',GradientType=0 ); /* IE6-9 */
}

#betabutton:hover
{
    opacity:.9;
}

#draggable
{
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 30px;
    border: 1px solid #ff8000;
    width: 78px;
    height: 78px;
    border-radius: 37px;
    box-shadow: 2px 0 10px #9d9d9d;
    background: #ffcc00 url(../../web/dragdrop/draggable.png) 50% 50% no-repeat;
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, -moz-linear-gradient(top, #ffcc00 0%, #ff8000 100%);
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff8000));
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, -o-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, -ms-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../web/dragdrop/draggable.png) 50% 50% no-repeat, linear-gradient(top, #ffcc00 0%,#ff8000 100%);
}

#draggable.hollow
{
    cursor: default;
    background: #ececec;
    border-color: #cbcbcb;
}

.floatWrap.narrowCol
{
    position: relative;
}

/* Demos-update */
#header {
    background-color: #2a2d33;
}

#header a:hover {
    text-decoration: none;
}

#logo-bar {
    float: left;
    margin-top: 1.617em;
    margin-bottom: 1.717em;
    margin-left: 1.833em;
}

.nav-buttons {
    float: right;
}

.btn {
    color: #fff;
    background-color: #2a2d33;
    border: 1px solid #505156;
    background-clip: padding-box;
    position: relative;
    display: inline-block;
    padding: 0.667em 2.000em;
    line-height: 0.933em;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    -webkit-appearance: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 1.467em 0.267em;
}

.btn:hover {
   background-color: #505156;
}

.btn-primary {
    background-color: #ee5315;
    border-color: #ee5315;
    margin-right: 1.200em;
}

.btn-primary:hover
{
    background-color: #c2410e;
    border-color: #c2410e;
    cursor: pointer;
}

/* Footer */
#footer
{
    background-color: #2a2d33;
    text-align: left;
}

#overview #footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    clear: both;
}

.footer-links {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 0 8px;
    font: 400 11px/1 Arial,Helvetica,sans-serif;
    border-left: 1px solid #47494c;
}

.footer-links:first-child {
    border-left: 0;
    padding-left: 0;
}

a.footer-links:hover {
    color: #49c3fb;
    text-decoration: underline;
}

.quick-links {
     padding-top: 1.917em;
     padding-bottom: 1em;
     padding-left: 36px;
}

#telerik-logo {
    background: transparent url(icon-telerik-badge.png) 0 0 no-repeat;
    width: 30px;
    height: 27px;
    float: left;
}

.copyright {

    padding-left: 36px;
    padding-bottom: 24px;
}

.copyright p {
    font-size: 11px;
    margin-left: 35px;
}

/* Root navigation */
#root-nav li,
#example-nav li {
    list-style: none;
}

.root-nav-categories h3 {
    color: #000;
    font-size: 14px;
    line-height: 14px;
    padding: 0.5em 0 0.5em 3.571em;
}

.root-nav-categories h3 {
    text-transform: uppercase;
}

#example-nav h4 {
    color: #000;
    font-size: 18px;
    line-height: 15px;
    font-weight: normal;
    margin-top: -1.278em;
    padding: 0.389em 0 1.222em 2.722em;
}

.root-nav-categories {
    margin-top: 1.417em;
}

#root-nav,
#example-nav {
    padding-bottom: 30px;
}

#root-nav li a,
#example-nav li a {
    font-size: 14px;
    line-height: 14px;
    color: #2d3e50;
    display: block;
    padding: 0.5em 0 0.5em 3.571em;
    transition: all .2s ease;
}

#root-nav li a:hover,
#example-nav li a:hover {
    color: #000;
    text-decoration: none;
    background-color: #e2e4e7;

}

#example-nav .active {
    background-color: #e2e4e7;
    cursor: default;
}

#back-nav {
    color: #2d3e50;
    font-size: 18px;
    display: inline-block;
    margin-top: 0.818em;
    margin-left: 1.045em;
}

#back-nav:hover {
    text-decoration: none;
}

/* Demos */
#exampleWrap,
#codeStrip,
#resources-technologies {
    margin: 4.583em 7.500em 5.000em 7.500em;
}

#exampleWrap .mobileExample {
    background: white;
}

#exampleTitle {
    margin: 2.250em 3.750em 2.500em 3.750em;
}

#codeStrip .documentation-link,
.try-kendo {
    background-color: #015991;
    color:#fff;
    line-height: 13px;
    padding: 11px 22px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    -webkit-appearance: none;
    text-align: center;
    border: none;
    margin: 0.769em 0.769em 0;
    font: 700 13px Arial, Helvetica, sans-serif;
}

.try-kendo{
    margin-right: 0;
    padding: 10px 22px 10px;
}

.try-kendo .k-icon
{
    margin-right: 5px;
    background-image: url('edit-icon.png');
}

#codeStrip .documentation-link:hover,
.try-kendo:hover {
    background-color: #013a5e;
    cursor: pointer;
}

/* Clear floats */
.k-ie7 #header,
.k-ie7 #codeStrip,
.k-ie7 #overview-applications {
    display: inline-block;
}

#header:after,
#codeStrip:after,
#overview-applications:after {
    display: block;
    content:"";
    clear: both;
}

#overview-applications {
    margin-bottom: -3em;
}

#nav-wrapper {
    width: 299px;
    border-top: 1px solid #e2e4e7;
    border-right: 1px solid #e2e4e7;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    clear: left;
    background-color: #f5f7f8;
    height: 100%;
}

#nav {
    width: 600px;

    white-space: nowrap;
    margin-left: -300px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 100%;
}

#root-nav, #example-nav {
    width: 299px;
    float: left;
}

#nav #root-nav {
    height: 10px;
    overflow: hidden;
}

#nav.root {
    margin-left: 0px;
}

#nav.root #root-nav {
    height: auto;
    overflow: visible;
}

#nav li {
    position: relative;
}

.new-widget,
.beta-widget,
.pro-widget
{
    position: absolute;
    left: 0;
    top: 10px;
    height: 9px;
    width: 37px;
    background-repeat: no-repeat;
    background-image: url(tags.png);
}

.new-widget { background-position: 100% -9px; }
.beta-widget { background-position: 100% 0; }
.pro-widget { background-position: 100% -18px; }

.multiple-tags .pro-widget { top: 5px; }
.multiple-tags .beta-widget,
.multiple-tags .new-widget { top: 14px; }

#overview .new-widget,
#overview .beta-widget,
#overview .pro-widget {
    display: none;
}

#main {
    float: none;
    width: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#example-search-wrapper,
#layout-search-wrapper {
    position: relative;
    text-align: center;
    background-color: #f5f7f8;
    width:100%;
}

#example-search-wrapper {
    width: 299px;
    float: left;
    border-right: 1px solid #e2e4e7;
}

#layout-search-wrapper {
    padding: 2.833em 0;
    border-bottom: 1px solid #ebecee;
}

#layout-search-wrapper .k-autocomplete,
#example-search-wrapper .k-autocomplete {
    border-radius: 0;
}

#layout-search-wrapper .k-autocomplete.k-state-hover,
#example-search-wrapper .k-autocomplete.k-state-hover,
#layout-search-wrapper .k-autocomplete.k-state-focused,
#example-search-wrapper .k-autocomplete.k-state-focused {
    background-image: none;
}

#example-search-wrapper .k-autocomplete {
    border-color: #d7dbdf;
    background-color: #fff;
}

#example-search-wrapper .k-autocomplete.k-state-focused {
    box-shadow: none;
    border-color: #999999;
}

#example-search-wrapper .k-autocomplete.k-state-border-down {
    border-color: #d7dbdf;
}

#example-search-wrapper .search,
#layout-search-wrapper .search {
     position: relative;
     vertical-align: middle;
}

#example-search-wrapper .search {
    margin: 1em;
}

#layout-search-wrapper .search {
    margin: 0 auto;
    width: 44%;
}

#example-search-wrapper .search > span,
#layout-search-wrapper .search > span{
    width: 100%
}

#example-search-wrapper input,
#layout-search-wrapper input {
    color: #aaaaaa;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
}

#example-search-wrapper input {
    padding: 0.5em 0;
    font-size: 14px;
    line-height: 14px;
}

#layout-search-wrapper input {
    padding: 0.750em 0;
    font-size: 16px;
    line-height: 16px;
}

#example-search-wrapper .k-uniE600 {
   position: absolute;
   right: 6px;
   top: 9px;
   color: #000;
}

#layout-search-wrapper .k-uniE600 {
   font-size: 16px;
   position: absolute;
   top: 13px;
   right: 6px;
   color: #000;
}

#layout-search-wrapper .km-listview-wrapper {
   position: relative;
}

#example-search-list {
    background-color: #f5f7f8;
    height: 290px;
    border-color: #d5dade;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

#example-search-list li {
    padding: 0.750em;
    line-height: 1.083em;
    min-height: 0;
    border: none;
}

#example-search-list li.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px #cad0d6;
    box-shadow: inset 0 0 0 1px #cad0d6;
  
}

#example-search-list li.k-state-hover {
    background: #cad0d6;
}

#example-search-list a{
    font-size: 13px;
    line-height: 13px;
    color: #2d3e50;
}

#example-search-list a:hover {
    text-decoration: none;
}

#search-results {
    z-index: 10;
    width: 44%;
    margin: 0 auto;
    overflow: auto;
}

.section {
    display: inline-block;
    width: 25%;
}

.demo-name {
    display: inline-block;
}

.k-state-hover,
.k-state-hover:hover {

}


/* Layout page */
.application-image {
    max-width: 100%;
    height: auto;
}

#overview {
    width: auto;
    margin:auto;
    text-align: center;
    padding-bottom: 180px;
}

#overview h2 {
    color: #000;
    font: 400 28px/1 "FaktSlabPro-Medium", Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 2.5em 0 0.700em 0;
}

#overview a:hover {
    color: #036c9c;
}

#overview-widgets,
#applications-and-tools,
#overview-applications,
#overview-tools {
    display: inline-block;
    *display: inline;
    zoom:1;
}

#applications-and-tools {
    vertical-align: top;
}

#overview-widgets ul {
    display: inline-block;
    text-align: left;
    padding: 0 0.833em;
    vertical-align: top;
    *display: inline;
    zoom:1;
}

#overview-tools {
    width: 100%;
}

#overview-tools li {
    padding-bottom: 1.417em
}

#overview-tools a {
    font-size: 18px;
}

#overview-tools p {
    font-size: 13px;
}

#overview-applications h5 {
    display: inline-block;
    *display: inline;
    zoom:1;
}

#overview-applications ul {
    margin-top: 14px;
}

#overview-widgets > ul > li{
    border-right: 1px solid #ebecee;
}

#overview-widgets > ul > li:last-child{

}

#overview-widgets ul li {
    font-size: 13px;
    color: #0487c4;
    line-height: 13px;
    padding: 0.462em 0;
}

#overview-widgets h3 {
    color: #000;
    font: 700 12px/2.2 Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    margin-left: 0.833em;
    text-align: left;
}

#most-popular a{
    font-size: 24px;
    line-height: 26px;
    padding: 0.259em 0;
}

.application {
    float: left;
    width: 116px;
}

h5 {
    margin: 0;
    padding: 0;
}

#applications-and-tools {
    width: 38%;
    text-align: left;
}

/* Overview */
#overview-widgets,
#applications-and-tools,
#most-popular,
#widgets-all
{
    display: inline-block;
    *display: inline;
    zoom:1;
    position: relative;
}

#applications-and-tools {
    width: 30%;
}

#most-popular {
    vertical-align: top;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 34px;
    margin-top: 5px;
}

#overview-widgets h2 {
    text-transform: uppercase;
}

 #overview-widgets h2 strong {
    text-transform: none;
    font-weight: normal;
}

.overview-col {
    min-width: 180px;
}

#most-popular .overview-col {
    padding-left: 0;
}

#most-popular h3 {
    margin-left: 0;
}

#widgets-all .overview-col.col-four {
    width: 24%;
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom:1;
    min-height: 1px;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
}

.col-four:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 1px;
    background-color: #ebecee;
}

.col-four ul {
    margin-bottom: 1em;
}

.application {
    margin: 0 3% 18px 0;
    white-space:normal;
}

.application p {
    font-size: 13px;
    line-height: 16px;
    height: 50px;
    padding-top: 3px;
}

/* ##################### BOX ##################### */

.box {
    margin: 4.5em 7.5em;
    padding: 3em;
    background-color: rgba(20,53,80,0.038);
    border: 1px solid rgba(20,53,80,0.05);
}
.demo-section {
    margin: 4.5em auto;
    padding: 3em;
    border: 1px solid rgba(20,53,80,0.05);
}
.box:after,
.demo-section:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
#example .box {
    margin: 4.5em auto;
}
.box.k-header,
.demo-section.k-header {
    background-position: 50% 70%;
}
.box h4,
.demo-section h4 {
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.box-col {
    display: block;
    float: left;
    padding: 0 3em 1em 0;
}

.box li,
.demo-section .box-col li {
    margin-bottom: .6em;
}
.box li:last-child {
    margin-bottom: 0;
}

.box li a {
    font-size: 13px;
}

.box .k-widget {
    background-color: #ebeef0;
    border-color: #ccc;
    color: #7c7c7c;
}

.box .k-button {
    cursor: pointer;
    border-radius: 2px;
    padding: 2px 6px;
    font-size: inherit;
    color: #333;
    background: #e1e5ea;
    border-color: #c2ccd4;
}

.box .k-button:hover {
    background: #c2ccd4;
    color: #000;
}

.box .k-primary {
    color: #fff;
    background: #015991;
    border-color: #015991;
}

.box .k-primary:hover {
    background: #013A5E;
    color: #fff;
}

.box .k-textbox,
.box textarea {
    background: #fff;
    border-color: #ccc;
    color: #555;
    border-radius: 0;
}

.box .k-textbox:hover,
.box .k-textbox:active,
.box textarea:hover,
.box textarea:active {
    border-color: #999;
    background: #fff;
    color: #333;
}

.demo-hint {
    line-height: 22px;
    color: #aaa;
    font-style: italic;
    font-size: .9em;
}
